<template>
    <div class="grid grid-row-2">
        <div class="row-span-1">
            <h2 class="font-black border-b-2 border-gray-300">
                CMS <span v-if="title !== undefined">- {{ title }}</span>
            </h2>
        </div>
        <div class="row-span-1">
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-1">
                    <router-link to="/cms/clanky"
                                 class="flex flex-row items-stretch hover:bg-gray-600 hover:text-blue-50 pr-4 py-2">
                        <svg-icon type="mdi" :path="newspaper" class="text-gray-800 hover:text-blue-50"></svg-icon>
                        <span class="xl:ml-2 hidden xl:inline">Články</span>
                    </router-link>
                </div>
                <div class="col-span-11">
                    <router-view/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {defineComponent} from "vue";
import menuComponent from "../Admin/components/menuComponent.vue";
import {mdiNewspaper} from '@mdi/js'
import articles from "./views/articles.vue";

export default defineComponent({
    name: 'CMS',
    computed: {
        articles() {
            return articles
        }
    },
    components: {menuComponent},
    data() {
        return {
            newspaper: mdiNewspaper
        }
    }

})
</script>

