<template>
  <label class="">
    <input
        type="file"
        @input="$emit('update:modelValue', $event.target.files[0]); $emit('fileLoaded')"
        required
        class="hidden"
    >
    <span class="cursor-pointer flex flex-row">
      <upload-file-icon-component />
      {{ label }}
    </span>
  </label>
</template>

<script>
import { mdiCloudUploadOutline } from '@mdi/js'
import SvgIcon from '@jamescoyle/vue-icon'
import UploadFileIconComponent from "../GlobalComponent/Icons/uploadFileIconComponent";

export default {
  name: "baseFile",
  components: {UploadFileIconComponent, SvgIcon },
  props: {
    label: {
      type: String,
      default: '',
    },
    modelValue: {
      type: File,
      default: undefined,
    }
  },
  data() {
    return {
      uploadIcon: mdiCloudUploadOutline,
    }
  }
}
</script>
