<template>
  <div class="flex flex-col mb-1">
    <button
        v-bind="$attrs"
        class="flex flex-row px-4 py-0 rounded-r-sm hover:border-gray-400 "
        @click="this.$emit('ClickButton')"
    >
     <slot></slot>
    {{label}}
    </button>
  </div>
</template>

<script>
export default {
  name: "baseButton",
  props: {
    label: {
      type: String,
      default: ''
    }
  }
}
</script>
