<template>
  <div class="grid grid-flow-row mb-1">
    <label
        :for="label"
        v-if="label"
        class="font-light italic text-xs">{{ label }}</label>
    <select
        class="border-2 border-gray-200 px-4 py-0 rounded-r-sm"
        :id="label"
        :value="modelValue"
        v-bind="{
          ...$attrs,
          onChange: ($event) => {$emit('update:modelValue', $event.target.value)}
      }"
    >
      <option
          v-for="breed in breeds"
          :value="breed['@id']"
      >
        {{ breed.breed }}
      </option>
    </select>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "breedSelect",
  props: {
    label: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      default: ''
    },
  },
  created() {
    if (Object.keys(this.$store.state.breeds).length === 0) {
      this.$store.dispatch('GET_BREEDS');
    }
  },
  computed: {
    breeds() {
      return this.$store.state.breeds;
    }
  },
});
</script>
