<template>
  <div class="grid grid-flow-row mb-1">
    <label
        :for="label"
        v-if="label"
        class="font-light italic text-xs"
    >
      {{ label }}
    </label>
    <select
        class="border-2 border-gray-200 px-4 py-0 rounded-r-sm"
        :id="label"
        :value="modelValue"
        v-bind="{
          ...$attrs,
          onChange: ($event) => { $emit('update:modelValue', $event.target.value) }
      }"
    >
    <option
        v-for="(dog, key) in dogs"
        :value="dog['@id']"
        :key="key"
        :id="key"
    >
      {{ dog.name }}
    </option>
    </select>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "dogSelect",
  emits: ['update:modelValue'],
  props: {
    label: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      default: ''
    },
    dogs: {
      type: Array,
      default: [],
      required: true
    }
  },
})
</script>
