<template>
  <div class="flex flex-col justify-start content-center items-center mb-1">
    <label class="font-light italic text-xs mr-2" for="baseCheckbox" v-if="label && !labelDown">{{ label }}</label>
    <input
        id="baseCheckbox"
        type="checkbox"
        class="px-0 py-0 rounded-r-sm w-4 h-full"
        :checked="modelValue"
        @change="$emit('update:modelValue', $event.target.checked)"
    >
    <label class="font-light italic text-xs ml-2 mr-2" for="baseCheckbox" v-if="label && labelDown">{{ label }}</label>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "baseCheckBox",
  props: {
    label: {
      type: String,
      default: '',
    },
    modelValue: {
      type: Boolean,
      default: false,
    },
    labelDown: {
      type: Boolean,
      default: false,
    }
  }
})
</script>
