<template>
  <div class="flex flex-col mb-1">
    <label class="font-light italic">{{ label }}</label>
    <textarea
        v-bind="$attrs"
        class="form-input px-1 py-0 rounded-r-sm"
        :placeholder="description"
        :value="modelValue"
        :rows="5"
        @input="$emit('update:model-Value', $event.target.value); charsEnd($event.target.value)"
    />
    <span class="text-xs text-red-600 italic self-end">Zostáva znakov: {{chars}}</span>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "seoInput",
  props: {
    label: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      default: '',
    },
    maxLength: {
      type: Number,
      default: 158
    }
  },
  data() {
    return {
      description: "Seo je dôležité pre vyhľadávače ako je google. Tento text je zobrazený vo výsledkoch vyhľadávania. Mal by mať dlžku cca 158 znakov",
      chars: this.maxLength,
    }
  },
  methods: {
    charsEnd(value) {
      this.chars =  this.maxLength - value.length;
    }
  }

})
</script>
