<template>
  <div class="flex flex-col mb-1">
    <label class="font-light italic text-xs">{{ label }}</label>
    <textarea
        class="bg-gray-300 px-4 py-0 rounded-r-sm border-2 border-gray-200"
        :placeholder="label"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        :rows=rows
        :cols=cols
    />
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "textField",
  props: {
    label: {
      type: String,
      default: '',
    },
    rows: {
      type: Number,
      default: 4
    },
    cols: {
      type: Number,
      default: 50,
    },
    modelValue: {
      type: [String, Number],
      default: '',
    },
  }
})
</script>
