<template>
  <div class="flex flex-row mb-1">
    <label class="font-light italic text-xs mr-2" for="baseCheckbox" v-if="label && !labelRight">{{ label }}</label>
    <input
        id="baseCheckbox"
        type="checkbox"
        class="px-0 py-0 rounded-r-sm h-4 w-4"
        :value="value"
        @change="$emit('update:modelValue', value)"
    >
    <label class="font-light italic text-xs ml-2 mr-2" for="baseCheckbox" v-if="label && labelRight">{{ label }}</label>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "valueCheckBox",
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    modelValue: {
      type: Boolean,
      default: false,
    },
    labelRight: {
      type: Boolean,
      default: false,
    }
  }
})
</script>
