<template>

  <table class="table w-4/5">
    <thead>
    <tr class="bg-gray-600">
      <th class="text-sm text-white font-medium italic px-2 w-2/12 border-r">Nazov (EN)</th>
      <th class="text-sm text-white font-medium italic px-2 w-2/12 border-r">Nazov (SK)</th>
      <th class="text-sm text-white font-medium italic px-2 w-2/12 border-r">Author</th>
      <th class="text-sm text-white font-medium italic px-2 w-2/12 border-r">Vytvorene</th>
    </tr>
    </thead>
    <tbody>
    <competition-item-component
        v-for="competition in competitions"
        :competition="competition"
        :key="competition.id"
    />
    </tbody>
  </table>
</template>
<script>
import CompetitionItemComponent from "./competitionItemComponent";

export default {
  name: "competitionListComponent",
  components: {CompetitionItemComponent},
  props: {
    editable: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      editableCompetition: {},
    }
  },
  created() {
    if (Object.keys(this.$store.state.competitions).length === 0) {
      this.$store.dispatch('GET_COMPETITION_LIST');
    }
  },
  computed: {
    competitions() {
      return this.$store.state.competitions['hydra:member']
    },
    totalItems() {
      return this.$store.state.competitions['hydra:totalItems']
    },

  },
  methods: {
    editCompetitionModal(competition) {
      this.editableCompetition = competition;
    }
  },

}
</script>
