<template>
  <tr class="text-xs hover:bg-gray-400" @click="openCompetition">
    <td class="font-medium px-2 truncate border-r">{{ competition.name }}</td>
    <td class="font-medium px-2 truncate border-r">{{ competition.nameSk }}</td>
    <td class="font-medium px-2 truncate border-r"><span>{{ competition.author.name }}</span><span
        v-if="competition.author.surname">{{ competition.author.surname }}</span></td>
    <td class="font-medium px-2 text-center">{{ competition.created_at }}</td>
  </tr>
</template>

<script>
export default {
  name: "competitionItemComponent",
  props: {
    competition: {
      type: Object,
      default: {},
    }
  },
  methods: {
    openCompetition() {
      this.$router.push({
        name: 'úprava-disciplíny',
        params: {
          competitionId: this.competition.id,
        }
      })
    }
  },
}
</script>
