<template>
  <div class="absolute top-1 left-0 right-0 lg:w-max w-full mx-auto p-2">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <h2 class="mb-4">Športová disciplína - {{ editedCompetition.name }}</h2>
      <div class="flex flex-col gap-4">
        <div class="flex flex-row">
          <div class="mr-4">
            <picture-component
                :image-iri="editedCompetition.image"

                kind="competitions"
            ></picture-component>

          </div>
          <div class="flex flex-col">
            <base-input
                v-model="editedCompetition.name"
                label="Anglicky nazov sutaze"
                type="text"
                @change="compareData"
            />
            <base-input
                v-model="editedCompetition.nameSk"
                label="Slovensky nazov sutaze"
                type="text"
                @change="compareData"
            />
            <seo-input
                label="Seo popis"
                v-model="editedCompetition.seoDescription"
            />
          </div>
        </div>
        <div class="flex w-full max-w-min">
          <ckeditor :editor="editor" v-model="editedCompetition.description" :config="editorConfig"></ckeditor>
        </div>
        <div class="flex flex-row flex-wrap justify-end mt-2">
          <base-button
              label="Zavri okno"
              v-on:ClickButton="closeModal"
          >
            <svg-icon type="mdi" :path="closeIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
          </base-button>
          <base-button
              label="Uloz disciplinu"
              v-if="saveCompetition"
              v-on:ClickButton="saveDiscipline"
          >
            <svg-icon type="mdi" :path="saveIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
          </base-button>
        </div>
        <div class="text-red-600 italic text-sm text-red-600">
          <span>{{ errorMessage }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import baseButton from "../../../Mixins/Form/baseButton";
import baseInput from "../../../Mixins/Form/baseInput";
import textField from "../../../Mixins/Form/textField";
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import CKEditor from '@ckeditor/ckeditor5-vue';
import axios from "axios";
import { mdiContentSaveOutline, mdiCloseOutline } from '@mdi/js'
import SvgIcon from '@jamescoyle/vue-icon'
import CKEditorConfig from "../../../Mixins/CKEditorConfig";
import PictureComponent from "../../../Mixins/GlobalComponent/PictureComponent/pictureComponent";
import CompareData from "../../../Mixins/CompareData";
import SeoInput from "../../../Mixins/Form/seoInput";

export default defineComponent({
  name: "editCompetitionModalComponent",

  components: {
    SeoInput,
    PictureComponent,
    baseInput,
    baseButton,
    textField,
    SvgIcon,
    ckeditor: CKEditor.component,
  },
  props: {
    competition: {
      type: Object,
      default: {},
    },
    insertData: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      saveIcon: mdiContentSaveOutline,
      closeIcon: mdiCloseOutline,
      saveCompetition: true,
      editedCompetition: {},
      notSavedData: {},
      errorMessage: '   ',
      editor: ClassicEditor,
      editorConfig: CKEditorConfig,
    }
  },
  created() {
    this.editedCompetition = {...this.competition}
  },
  methods: {
    async saveDiscipline() {
      let compare = CompareData(this.competition, this.editedCompetition);
      if (compare) {
        await axios
          .put('/api/competitions/' + this.editedCompetition.id,
              compare,
              {
                headers: {
                  'Content-Type': 'application/ld+json',
                  'X-AUTH-TOKEN': this.$store.state.apiToken,
                }
              })
          .then(() => {
            this.$store.dispatch('GET_COMPETITION_LIST');
            this.$emit('closeModal');
          })
      }
    },
    closeModal() {
      let compare = CompareData(this.competition, this.editedCompetition);
      if (!compare) {
        this.$emit('closeModal');
      } else {
        this.errorMessage = "Mate rozpracovany prispevok";
      }
    },
  },
})
</script>
