<template>
  <div class="absolute top-1 left-0 right-0 lg:w-max w-full mx-auto p-2">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <h2 class="mb-4">Nová športová disciplína</h2>
      <div class="flex flex-col gap-4 m-4">
        <div class="flex flex-row">
          <div class="mr-4">
            <picture-component
                :parent-iri="insertCompetition.id"
                :image-iri="insertCompetition.image"
                kind="competitions"
            />
          </div>
          <div class="flex flex-col">
            <base-input
                v-model="insertCompetition.name"
                label="Anglicky nazov sutaze"
                type="text"
                @change="compareData"
            />
            <base-input
                v-model="insertCompetition.nameSk"
                label="Slovensky nazov sutaze"
                type="text"
                @change="compareData"
            />
            <seo-input
                label="Seo popis"
                v-model="insertCompetition.seoDescription"
            />
            <div class="text-red-600 italic text-sm">
              <span>{{ errorMessage }}</span>
            </div>
          </div>
        </div>
        <div class="block">
          <ckeditor :editor="editor" v-model="insertCompetition.description" :config="editorConfig"></ckeditor>
        </div>
        <div class="flex flex-row flex-wrap gap-1 justify-end">
          <base-button
              label="Zavri okno"
              v-on:ClickButton="closeModal"
          >
            <svg-icon type="mdi" :path="closeIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
          </base-button>
          <base-button
              label="Uloz disciplinu"
              v-if="saveCompetition"
              v-on:ClickButton="saveDiscipline"
          >
            <svg-icon type="mdi" :path="saveIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
          </base-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import baseButton from "../../../Mixins/Form/baseButton";
import baseInput from "../../../Mixins/Form/baseInput";
import seoInput from "../../../Mixins/Form/seoInput";
import pictureComponent from "../../../Mixins/GlobalComponent/PictureComponent/pictureComponent";
import axios from "axios";
import {mdiContentSaveOutline, mdiCloseOutline} from '@mdi/js';
import SvgIcon from '@jamescoyle/vue-icon';
import {v4 as uuidv4} from 'uuid';
import {handleFileDelete} from "../../../Mixins/AWSImageHandler";
import CKEditor from "@ckeditor/ckeditor5-vue";
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default defineComponent({
  name: "insertCompetitionModalComponent",
  components: {
    baseInput,
    baseButton,
    seoInput,
    pictureComponent,
    SvgIcon,
    ckeditor: CKEditor.component,
  },

  data() {
    return {
      saveIcon: mdiContentSaveOutline,
      closeIcon: mdiCloseOutline,
      saveCompetition: true,
      insertCompetition: {
        "author": this.$store.state.iriUser,
        "id": uuidv4(),
        "name": '',
        "nameSk": '',
        "image": null,
        "seoDescription": "",
      },
      errorMessage: '',
      editor: ClassicEditor,
      ckeditor: CKEditor.component,
    }
  },
  methods: {
    async saveDiscipline() {
      await axios
          .post('/api/competitions',
              this.insertCompetition,
              {
                  headers: {
                    'X-AUTH-TOKEN': this.$store.state.apiToken,
                    'Accept': 'application/ld+json',
                    'Content-type': 'application/ld+json',
                  }
              })
          .then(() => {
            this.$store.dispatch('GET_COMPETITION_LIST');
            this.$emit('closeModal');
          }).catch((error) => {
            this.errorMessage = error.message;
          })
    },
    closeModal() {
      if ( this.insertCompetition.length > 0 ) {
        handleFileDelete(this.insertCompetition.imageUrl);
      }
      this.$emit('closeModal');
    },

  }

})
</script>
