<template>
  <div class="grid grid-row-2">
    <div class="row-span-1">
      <h2 class="font-black border-b-2 border-gray-300 mb-4">
        Administrácia <span v-if="title !== undefined">- {{title}}</span>
      </h2>
    </div>
    <div class="row-span-2 px-4">
      <div class="grid grid-cols-12 gap-4">
        <div class="">
          <div class="col-span-1">
            <menu-component></menu-component>
          </div>
        </div>

        <div class="col-span-11 px-4">
          <router-view />
        </div>
      </div>
    </div>


  </div>
</template>

<script>
import menuComponent from "./components/menuComponent";

export default {
  name: "Admin",
  components: {menuComponent},
  computed: {
    title() {
      return this.$route.meta.title;
    }
  },
  beforeMount() {
    this.$store.commit('SET_API_TOKEN', this.$attrs.apiToken);
    this.$store.commit('SET_IRI_USER', this.$attrs.iriUser);
    this.$store.dispatch('GET_BREEDS');
    this.$store.commit('SET_AWS', JSON.parse(this.$attrs.aws));
  }
}
</script>
