{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>
        {% trans %}Register{% endtrans %}
    </h1>
    <form action="{{ path('app_register') }}" method="POST" class="profile-add-dog-form">
        <input type="hidden" name="token" value="{{ csrf_token('register-form') }}">
        <div class="flex flex-col flex-wrap lg:w-4/12 mx-auto">
            <label for="email">{% trans %}Email{% endtrans %}:</label>
            <input name="email" id="email" type="email" required placeholder="Email" autocomplete="on" class="form-control">
            <label for="name">{% trans %}Name or name of breeding station{% endtrans %}:</label>
            <input name="name" id="name" type="text" required placeholder="Meno" class="form-control">
            <label for="surname">{% trans %}Surname{% endtrans%} ({% trans %}optional{% endtrans %}):</label>
            <input name="surname" id="surname" type="text" placeholder="{% trans %}Surname{% endtrans %}" class="form-control">
            <label for="password">{% trans %}Password{% endtrans %}:</label>
            <input name="password" id="password" type="password" required placeholder="{% trans %}Password{% endtrans %}" class="form-control">
            <label for="password_again">{% trans %}Password again{% endtrans %}:</label>
            <input name="password_again" id="password_again" type="password" required
                   placeholder="{% trans %}Please repeat the password again{% endtrans %}" class="form-control">
            <br />

            <input type="submit" value="{% trans %}Chcem sa zaregistrovat{% endtrans %}!">
        </div>
    </form>
{% endblock %}
