<template>
   <div class="flex flex-col bg-gray-300 p-2 mt-2 w-full">
    <h3 class="mb-4">Zaznam z treningu</h3>
     <div class="grid grid-flow-row lg:grid-flow-col w-full">
       <base-input
           label="Datum treningu"
           type="date"
           v-model="editedWorkout.eventStart"
       />
       <base-input
           label="Nadpis"
           type="text"
           v-model="editedWorkout.title"
       />
       <base-input
           label="Miesto"
           type="text"
           v-model="editedWorkout.place"
       />
       <inline-check-box
           label="Zviditelnit?"
           v-model="editedWorkout.isPublished"
           :label-down=false
       />
     </div>
      <Transition>
       <div class="mt-2">
         <ckeditor
             :editor="editor"
             :config="editorConfig"
             v-model="editedWorkout.description"
         ></ckeditor>
       </div>
      </Transition>
     <hr class="hr my-2">
     <div class="flex flex-row font-thin">
       <div
           class="px-4 py-1"
           @click="treadmill = !treadmill; run = aframe = false"
       >
         <span :style="treadmillStyle">Treadmill</span>
       </div>
       <div
           class="px-4 py-1"
           @click="aframe = !aframe; run = treadmill = false"
       >
           <span :style="aframeStyle">Aframe</span>
       </div>
       <div
           class="px-4 py-1"
           @click="run = !run; treadmill = aframe = false"
       >
         <span :style="runStyle">Beh</span>
       </div>
       <div class="flex grow">

       </div>
     </div>
     <hr class="hr my-2" >
     <div class="" v-if="aframe">
       <aframe :event-iri="editedWorkout['@id']" />
       <list-aframes :event-iri="editedWorkout['@id']" />
     </div>
     <div v-if="treadmill">
      <treadmill :event-iri="editedWorkout['@id']" />
      <list-treadmills :event-iri="editedWorkout['@id']" />
     </div>
     <div class="flex flex-row justify-end gap-2 mt-4">
       <div class="flex mt-2 justify-end">
         <base-button
             label="Zavriet"
             v-on:ClickButton="closeWindow"
         ></base-button>
       </div>
       <div class="flex mt-2 justify-end">
         <base-button
             label="Ulozit"
             v-on:ClickButton="saveWorkout"
         ></base-button>
       </div>
     </div>
  </div>
</template>

<script>
import {defineComponent, reactive, ref, toRef} from "vue";
import axios from "axios";
import BaseInput from "../../../Mixins/Form/baseInput.vue";
import InlineCheckBox from "../../../Mixins/Form/inlineCheckBox.vue";
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import CKEditor from '@ckeditor/ckeditor5-vue';
import CKEditorConfig from "../../../Mixins/CKEditorConfig";
import BaseButton from "../../../Mixins/Form/baseButton.vue";
import Aframe from "../../../Mixins/GlobalComponent/Aframe/Aframe.vue";
import Treadmill from "../../../Mixins/GlobalComponent/Treadmill/Treadmill.vue";
import listTreadmills from "../../../Mixins/GlobalComponent/Treadmill/listTreadmills.vue";
import listAframes from "../../../Mixins/GlobalComponent/Aframe/listAframes.vue";

export default defineComponent({
  name: "editWorkout",
  components: {Aframe, listAframes, Treadmill, listTreadmills, InlineCheckBox, BaseInput, BaseButton, ckeditor: CKEditor.component},
  props: ['workout'],
  setup(props) {
    const aframe = ref(false)
    const run = ref(false)
    const treadmill = ref(true)
    const selected = {
        'font-weight': 'bolder',
        'border-bottom': '2px solid',
        'transition': 'border-bottom 0.3s ease-in, font-weight 0.3s ease-in'
    }
    const notSelected = {

    }
    const editedWorkout = Object.keys(props.workout).length > 0 ? ref(props.workout): ref({})
    const editor = ref(ClassicEditor)
    const editorConfig = ref(CKEditorConfig)

    return {
      editedWorkout,
      editor,
      editorConfig,
      aframe,
      run,
      treadmill,
      selected,
      notSelected,
    }
  },
  methods: {
    async saveWorkout() {
      if (Object.keys(this.workout).length === 0) {
        this.editedWorkout.owner = this.$store.state.iriUser;
        this.editedWorkout.workout = true;
        await axios.post('/api/events', this.editedWorkout, {
          headers: {
            'accept': 'application/ld+json',
            'Content-type': 'application/ld+json',
            'X-AUTH-TOKEN': this.$store.state.apiToken,
          }
        }).then(() => {
          this.$store.dispatch('GET_MY_WORKOUTS');
          this.closeWindow();
        })
      } else {
        delete this.editedWorkout.owner;
        await axios.put(this.editedWorkout['@id'], this.editedWorkout, {
          headers: {
            'Content-type': 'application/ld+json',
            'X-AUTH-TOKEN': this.$store.state.apiToken,
          }
        }).then(() => {
          this.$store.dispatch('GET_MY_WORKOUTS');
          this.closeWindow();
        })
      }
    },
    closeWindow() {
      this.editedWorkout = null;
      this.$emit('closeEditWorkout');
    }
  },
  computed: {
    aframeStyle() {
      return this.aframe ? this.selected : this.notSelected
    },
    runStyle() {
      return this.run ? this.selected : this.notSelected
    },
    treadmillStyle() {
      return this.treadmill ? this.selected : this.notSelected
    }
  }

})
</script>
