<template>
  <div class="workout-list">
    <div class="workout-list__header">
      <div class="workout-list__header__item">Datum</div>
      <div class="workout-list__header__item">Nazov</div>
      <div class="workout-list__header__item">Miesto</div>
      <div class="workout-list__header__item">Verejne</div>
    </div>
  </div>
  <div class=" workout-list__body" v-if="Object.keys(myWorkouts).length > 0">
    <div
        v-for="(myWorkout, index) in myWorkouts"
        :key="index"
        class="hover:bg-gray-400 text-xs workout-list__items"
        @click="this.$emit('editWorkout', myWorkout)"
    >
      <div class="workout-list__item">{{ myWorkout.eventStart }}</div>
      <div class="workout-list__item">{{ myWorkout.title }}</div>
      <div class="workout-list__item">{{ myWorkout.place }}</div>
      <div class="workout-list__item">{{ myWorkout.isPublished }}</div>
    </div>
  </div>
</template>

<script>
import {computed, defineComponent, onMounted} from "vue";
import {useStore} from "vuex";

export default defineComponent({
  name: "workoutsListComponent",
  setup() {
    const store = useStore();

    onMounted(() => {
      if (Object.keys(store.state.myWorkouts).length === 0) {
        store.dispatch('GET_MY_WORKOUTS');
      }
    });

    const myWorkouts = computed(() => {
      return store.state.myWorkouts
    });

    return {
      myWorkouts
    }
  },

})
</script>
