<template>
  <svg-icon type="mdi" :path="closeIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
</template>

<script>
import {defineComponent} from "vue";
import { mdiCloseOutline} from '@mdi/js';
import SvgIcon from '@jamescoyle/vue-icon';

export default defineComponent({
  name: "closeIconComponent",
  components: {SvgIcon},
  data() {
    return {
      closeIcon: mdiCloseOutline,
    }
  },

})
</script>
