<template>
  <svg-icon type="mdi" :path="deleteIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
</template>

<script>
import { defineComponent } from "vue";
import { mdiDeleteOutline } from '@mdi/js';
import SvgIcon from '@jamescoyle/vue-icon';

export default defineComponent({
  name: "deleteIconComponent",
  components: { SvgIcon },
  data() {
    return {
      deleteIcon: mdiDeleteOutline,
    }
  }

})
</script>
