<template>
  <svg-icon type="mdi" :path="editIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
</template>

<script setup>
import { mdiApplicationEditOutline} from "@mdi/js";
import SvgIcon from '@jamescoyle/vue-icon';

const editIcon = mdiApplicationEditOutline;
</script>

