<template>
  <svg-icon type="mdi" :path="saveIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
</template>

<script>
import {defineComponent} from "vue";
import {mdiContentSaveOutline} from '@mdi/js';
import SvgIcon from '@jamescoyle/vue-icon';

export default defineComponent({
  name: "saveIconComponent",
  components: {SvgIcon},
  data() {
    return {
      saveIcon: mdiContentSaveOutline,
    }
  }
})
</script>
