<template>
  <svg-icon type="mdi" :path="uploadFileIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
</template>

<script>
import { defineComponent } from "vue";
import { mdiCloudUploadOutline } from '@mdi/js'
import SvgIcon from '@jamescoyle/vue-icon'

export default defineComponent({
  name: "uploadFileIconComponent",
  components: {SvgIcon},
  data() {
   return {
     uploadFileIcon: mdiCloudUploadOutline,
   }
  }
})
</script>
