<template>
  <div class="mt-2">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2">
      <dog-select
          label="Vyber psa"
          :dogs="myDogs"
          v-model=editedAframe.dog
      />
      <base-input
          label="Pocet preskokov 30 sekund"
          type="number"
          v-model="editedAframe.result1"
      />
      <base-input
          label="Pocet preskokov 60 sekund"
          type="number"
          v-model="editedAframe.result2"
      />
      <base-input
          label="Pocet preskokov 90 sekund"
          type="number"
          v-model="editedAframe.result3"
      />
      <base-input
          label="Pocet preskokov 120 sekund"
          type="number"
          v-model="editedAframe.result4"
      />
      <base-input
          label="Pocet preskokov 180 sekund"
          type="number"
          v-model="editedAframe.result5"
      />
      <base-input
          label="Pocet preskokov 240 sekund"
          type="number"
          v-model="editedAframe.result6"
      />
      <inline-check-box
          label="Profesional"
          v-model="editedAframe.professional"
          class="self-center"
      />
      <div class="flex align-baseline">
        <base-button
            label="Pridaj zaznam"
            class="text-xs self-baseline"
            @clickButton="saveAframe"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {computed, defineComponent, onMounted, ref} from "vue";
import DogSelect from "../../Form/dogSelect.vue";
import axios from "axios";
import {useStore} from "vuex";
import BaseInput from "../../Form/baseInput.vue";
import InlineCheckBox from "../../Form/inlineCheckBox.vue";
import BaseButton from "../../Form/baseButton.vue";

export default defineComponent({
  name: "Aframe",
  components: {BaseButton, InlineCheckBox, BaseInput, DogSelect},
  props: {
    eventIri: {
      type: String,
      require: true,
    },
  },
  setup(props) {
    const store = useStore()

    const editedAframe = ref({
      event: props.eventIri,
      dog: '',
      professional: false,
      result1: 0.00,
      result2: 0.00,
      result3: 0.00,
      result4: 0.00,
      result5: 0.00,
      result6: 0.00,
    })

    onMounted(() => {
      if (Object.keys(store.state.myDogs).length === 0) {
        store.dispatch('GET_MY_DOGS')
      }
    })

    const myDogs = computed(() => {
      return store.state.myDogs
    });

    return {
      myDogs,
      editedAframe,
    }
  },
  methods: {
    async saveAframe() {
      String.prototype.float = function() {
        return parseFloat(this.replace(',', '.'))
      }

      this.editedAframe.result1 = Number.parseFloat(this.editedAframe.result1);
      this.editedAframe.result2 = Number.parseFloat(this.editedAframe.result2);
      this.editedAframe.result3 = Number.parseFloat(this.editedAframe.result3);
      this.editedAframe.result4 = Number.parseFloat(this.editedAframe.result4);
      this.editedAframe.result5 = Number.parseFloat(this.editedAframe.result5);
      this.editedAframe.result6 = Number.parseFloat(this.editedAframe.result6);

      if (this.editedAframe !== undefined && this.editedAframe.dog !== undefined) {
        await axios.post('/api/aframes', this.editedAframe, {
          headers: {
            'Content-type': 'application/ld+json',
            'X-AUTH-TOKEN': this.$store.state.apiToken,
          }
        }).then(() => {
          this.$store.dispatch('GET_AFRAMES_BY_EVENT', this.eventIri)
          this.editedAframe.dog =  ''
          this.editedAframe.professional = false
          this.editedAframe.result1 = 0.00
          this.editedAframe.result2 = 0.00
          this.editedAframe.result3 = 0.00
          this.editedAframe.result4 = 0.00
          this.editedAframe.result5 = 0.00
          this.editedAframe.result6 = 0.00
        })
      }
    }
  },
})
</script>
