<template>
  <div class="absolute top-1/4 left-0 right-0 lg:w-max w-full mx-auto p-2">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <h2 class="text-lg px-2 pb-4">Oprava zaznamu pre {{editedRecord.dog.name}}</h2>
      <div class="grid grid-rows-2 grid-cols-3 gap-2 items-end">
        <base-input
            label="30 sekund"
            type="number"
            v-model=editedRecord.result1
        />
        <base-input
            label="60 sekund"
            type="number"
            v-model=editedRecord.result2
        />
        <base-input
            label="90 sekund"
            type="number"
            v-model=editedRecord.result3
        />
        <base-input
            label="120 sekund"
            type="number"
            v-model=editedRecord.result4
        />
        <base-input
            label="180 sekund"
            type="number"
            v-model=editedRecord.result5
        />
        <base-input
            label="240 sekund"
            type="number"
            v-model=editedRecord.result6
        />
        <inline-check-box
            label="Profesional"
            v-model="editedRecord.professional"
            class="self-center"
        />
        <div class="flex justify-end col-span-3 gap-2">
          <base-button
              label="Zavriet"
              v-on:ClickButton="$emit('close')"
          />
          <base-button
              label="Uloz zaznam"
              @clickButton="saveRecord"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import DogSelect from "../../Form/dogSelect.vue";
import BaseInput from "../../Form/baseInput.vue";
import BaseButton from "../../Form/baseButton.vue";
import inlineCheckBox from "../../Form/inlineCheckBox.vue";
import axios from "axios";

export default defineComponent({
  name: "editAframeModal",
  components: {DogSelect, BaseInput, BaseButton, inlineCheckBox},
  props: {
    record: {
      type: Object,
    }
  },
  data() {
    return {
      editedRecord:  {}
    }
  },
  created() {
    this.editedRecord = {...this.record}
  },
  methods: {
    async saveRecord() {
      let data = {}

      if (this.editedRecord.result1 !== this.record.result1) {
        data.result1 = parseFloat(this.editedRecord.result1);
      }

      if (this.editedRecord.result2 !== this.record.result2) {
        data.result2 = parseFloat(this.editedRecord.result2);
      }

      if (this.editedRecord.result3 !== this.record.result3) {
        data.result3 = parseFloat(this.editedRecord.result3);
      }

      if (this.editedRecord.result4 !== this.record.result4) {
        data.result4 = parseFloat(this.editedRecord.result4);
      }

      if (this.editedRecord.result5 !== this.record.result5) {
        data.result5 = parseFloat(this.editedRecord.result5);
      }

      if (this.editedRecord.result6 !== this.record.result5) {
        data.result6 = parseFloat(this.editedRecord.result5);
      }

      if (this.editedRecord.professional !== this.record.professional) {
        data.professional = this.editedRecord.professional;
      }

      if (Object.keys(this.editedRecord).length > 0) {
        await axios.put(this.editedRecord['@id'], data).then(() => {
          this.$store.dispatch('GET_AFRAMES_BY_EVENT', this.editedRecord.event)
          this.$emit('close')
        })
      }
    }
  }
})
</script>

<style scoped>

</style>
