<template xmlns="http://www.w3.org/1999/html">
  <div class="flex flex-col mt-4">
    <div class="font-bold italic text-xl bg-gray-600 text-white text-center py-2">Výsledky</div>
    <div class="grid grid-cols-2 items-end font-light italic text-xs bg-gray-600 text-white">
      <div class="grid grid-cols-8 gap-4">
        <div class="px-4">Pes</div>
        <div class="px-4 text-center">30s</div>
        <div class="px-4 text-center">60s</div>
        <div class="px-4 text-center">90s</div>
        <div class="px-4 text-center">120s</div>
        <div class="px-4 text-center">180s</div>
        <div class="px-4 text-center">240s</div>
        <div class="px-4 text-center">Profesional</div>
      </div>
    </div>
    <div
        class="grid grid-cols-2 bg-white items-end text-xs lg:text-base border-b"
        v-for="(aframe, key) in listOfAframes"
        :key="key"
    >
      <div class="grid grid-cols-8 gap-4">
        <div class="px-4">{{ aframe.dog.name }}</div>
        <div class="px-4 text-center w-min">{{ aframe.result1 }}</div>
        <div class="px-4 text-center w-min">{{ aframe.result2 }}</div>
        <div class="px-4 text-center w-min">{{ aframe.result3 }}</div>
        <div class="px-4 text-center w-min">{{ aframe.result4 }}</div>
        <div class="px-4 text-center w-min">{{ aframe.result5 }}</div>
        <div class="px-4 text-center w-min">{{ aframe.result6 }}</div>
        <div class="px-4 text-center w-min">{{ aframe.professional }}</div>
      </div>
      <div class="flex justify-end shrink">
        <button
            class="text-xs align-middle justify-end flex flex-row px-4 py-0 rounded-r-sm hover:border-gray-400"
            @click="openModal(aframe)"
        >
          <edit-icon-component/>
        </button>
        <button
            class="text-xs align-middle justify-end flex flex-row px-4 py-0 rounded-r-sm hover:border-gray-400"
            @click="deleteRecord(aframe['@id'])"
        >
          <delete-icon-component/>
        </button>

      </div>
    </div>
  </div>
  <edit-aframe-modal v-if="modalWindow" :record="modalRecord" @close="modalWindow = false"/>
</template>

<script>
import {defineComponent} from "vue";
import BaseButton from "../../Form/baseButton.vue";
import axios from "axios";
import editAframeModal from "./editAframeModal.vue";
import DeleteIconComponent from "../Icons/deleteIconComponent.vue";
import editIconComponent from "../Icons/editIconComponent.vue";

export default defineComponent({
  name: "listAframes",
  components: {DeleteIconComponent, BaseButton, editAframeModal, editIconComponent},
  data() {
    return {
      modalWindow: false,
      modalRecord: {},
    }
  },
  props: {
    eventIri: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.eventIri === undefined ?
        this.$store.commit('SET_AFRAMES_BY_EVENT', {})
        : this.$store.dispatch('GET_AFRAMES_BY_EVENT', this.eventIri);
  },
  computed: {
    listOfAframes() {
      return this.$store.state.listOfAframeByEvent
    }
  },
  methods: {
    async deleteRecord(aframeId) {
      this.modalWindow = false
      await axios.delete(aframeId)
          .then(() => {
            this.$store.dispatch('GET_AFRAMES_BY_EVENT', this.eventIri)
          })
    },
    openModal(aframe) {
      this.modalWindow = !this.modalWindow
      this.modalRecord = aframe
    },
  },
})
</script>
