<template>
  <div class="absolute top-1/6 left-0 right-0 lg:w-max w-full mx-auto p-2">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <div><h2>Udaje uzivatela</h2></div>
      <div class="flex flex-col gap-4 m-4">
        <base-input
            label="Meno:"
            v-model="editedUser.name"
            @change="checkChanges"
        ></base-input>

        <base-input
            label="Priezvisko"
            v-model="editedUser.surname"
            @change="checkChanges"
        ></base-input>

        <base-input
            label="Email:"
            v-model="editedUser.email"
            @change="checkChanges"
        ></base-input>

      </div>
      <span
          class="flex font-light relative top-6 left-7 opacity-100 bg-gray-400 px-1 z-10 h-4 font-light w-max text-xs">Opravnenia uzivatela</span>
      <div class="flex flex-column border border-dotted border-black rounded-md m-4 px-4 w-max">
        <div class="flex flex-row mt-2">
          <div class="block px-1">
            <label class="font-light italic text-sm">Užívateľ</label>
            <input type="checkbox" id='user' value="ROLE_USER" class="block m-auto" v-model="editedUser.roles"
                   @change="checkChanges">
          </div>
          <div class="block px-1">
            <label class="font-light italic text-sm">Administrátor</label>
            <input type="checkbox" id='admin' value="ROLE_ADMIN" class="block m-auto" v-model="editedUser.roles"
                   @change="checkChanges">
          </div>
          <div class="block px-1">
            <label class="font-light italic text-sm">Organizátor</label>
            <input type="checkbox" id='organizer' value="ROLE_ORGANIZER" class="block m-auto" v-model="editedUser.roles"
                   @change="checkChanges">
          </div>
        </div>
      </div>

      <hr/>
      <div class="flex flex-row content-end w-auto gap-2 text-sm m-4">
        <base-button label="Zavri okno" v-on:ClickButton="$emit('close')"/>
        <base-button label="Uloz udaje" v-on:ClickButton="updateUser" v-if="showUpdateButton"/>
      </div>
    </div>
  </div>
</template>

<script>
import BaseButton from "../../Mixins/Form/baseButton";
import BaseInput from "../../Mixins/Form/baseInput";
import CompareData from "../../Mixins/CompareData";
import axios from "axios";

export default {
  name: "editUserModalComponent",
  components: {BaseInput, BaseButton},
  props: {
    user: {}
  },
  data() {
    return {
      changes: {},
      editedUser: {},
      showUpdateButton: false
    }
  },
  created() {
    this.editedUser = {...this.user}
  },
  methods: {
    checkChanges() {
      this.changes = CompareData(this.user, this.editedUser);
      console.log(this.changes);
      if(this.changes) {
        this.showUpdateButton = true;
      } else {
        this.showUpdateButton = false;
      }

    },
    async updateUser() {
      await axios
        .put('/api/users/' + this.editedUser.id, this.changes, {
          headers: {
            'Content-Type': 'application/ld+json',
            'X-AUTH-TOKEN': this.$store.state.apiToken,
          }
        })
        .then(() => {
          this.$store.dispatch('GET_USERS');
          this.$emit('close');
        });
    }
  }
}
</script>

