<template>
  <div class="absolute top-1/6 left-0 right-0 lg:w-max w-full mx-auto p-2">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <div><h2>Oprava plemena</h2></div>
      <div class="flex flex-col gap-4 m-4">
        <base-input
            label="Skratka"
            v-model="editedBreed.breed"
        />
        <base-input
            label="Kratky popis"
            v-model="editedBreed.description"
        />
        <div class="flex flex-row gap-x-1 justify-end">
          <base-button
              label="Zavri okno"
              v-on:ClickButton="this.$emit('close')"
          >
            <close-icon-component />
          </base-button>
          <base-button
              label="Ulozit"
              v-on:ClickButton="updateBreed(); this.$emit('close')"
          >
            <save-icon-component />
          </base-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import baseInput from "../../Mixins/Form/baseInput";
import baseButton from "../../Mixins/Form/baseButton";
import axios from "axios";
import SaveIconComponent from "../../Mixins/GlobalComponent/Icons/saveIconComponent";
import CloseIconComponent from "../../Mixins/GlobalComponent/Icons/closeIconComponent";

export default {
  name: "editBreedModalComponent",
  components: {CloseIconComponent, SaveIconComponent, baseInput, baseButton},
  props: {
    breed: {
      type: Object,
      default: {},
    }
  },
  data() {
    return {
      editedBreed: {},
    }
  },
  created() {
    this.editedBreed = {...this.breed}
  },
  methods: {
    async updateBreed() {
      const data = {
        breed: this.editedBreed.breed,
        description: this.editedBreed.description,
      }

      await axios
          .put('/api/breeds/' + this.breed.id, data, {
            headers: {
              'X-AUTH-TOKEN': this.$store.state.apiToken,
            }
          })
          .then((response) => {
            this.$store.dispatch('GET_BREEDS');

          })
          .catch(error => {
          })
    },
  }
}
</script>

<style scoped>

</style>