<template>
  <div class="flex-col">
    <router-link to="/admin/domov" class="flex flex-row items-stretch hover:bg-gray-600 hover:text-blue-50 pr-4 py-2">
      <svg-icon type="mdi" :path="home" class="text-gray-800 hover:text-blue-50"></svg-icon>
      <span class="xl:ml-2 hidden xl:inline">Domov</span>
    </router-link>
    <router-link to="/admin/uzivatelia" class="flex flex-row items-stretch hover:bg-gray-600 hover:text-blue-50 pr-4 py-2">
      <svg-icon type="mdi" :path="users" class="text-gray-800 hover:text-blue-50"></svg-icon>
      <span class="xl:ml-2 hidden xl:inline">Uzivatelia</span>
    </router-link>
    <router-link to="/admin/akcie" class="flex flex-row items-stretch hover:bg-gray-600 hover:text-blue-50 pr-4 py-2">
      <svg-icon type="mdi" :path="events" class="text-gray-800 hover:text-blue-50"></svg-icon>
      <span class="xl:ml-2 hidden xl:inline">Akcie</span>
    </router-link>
    <router-link to="/admin/discipliny" class="flex flex-row items-stretch hover:bg-gray-600 hover:text-blue-50 pr-4 py-2">
      <svg-icon type="mdi" :path="categories" class="text-gray-800 hover:text-blue-50"></svg-icon>
      <span class="xl:ml-2 hidden xl:inline">Discipliny</span>
    </router-link>
    <router-link to="/admin/plemena" class="flex flex-row items-stretch hover:bg-gray-600 hover:text-blue-50 pr-4 py-2">
      <svg-icon type="mdi" :path="breed" class="text-gray-800 hover:text-blue-50"></svg-icon>
      <span class="xl:ml-2 hidden xl:inline">Plemena</span>
    </router-link>
  </div>
</template>

<script>
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiHomeOutline, mdiAccountGroupOutline, mdiStar, mdiShapeOutline, mdiDog } from '@mdi/js'


export default {
  name: "menuComponent",
  components: { SvgIcon },
  data() {
    return {
      home: mdiHomeOutline,
      users: mdiAccountGroupOutline,
      events: mdiStar,
      categories: mdiShapeOutline,
      breed: mdiDog,
    }
  }
}
</script>
