<a
        href="#"
        class=""
>
    <div class="relative p-1">
        {% if sport_event.image is not null and sport_event.image is defined %}
            <img
                    src="{{ AWS_CDN }}{{ sport_event.image.aWSname }}"
                    alt="{{ sport_event.image.name }}"
                    title="{{ sport_event.image.name|lower }}"
                    class="teaser"
            />
        {% endif %}
        <div class="absolute bottom-12 xl:bottom-8 left-4">
            <h3 class="text-white bg-gray-400 px-1 font-bold text-5xl xl:text-xl italic">{{ sport_event.title }}</h3>
        </div>
        <span class="text-xs italic">od: {{ sport_event.eventStart|date('d.m.Y') }}</span>
        {% if sport_event.eventEnd is not null %}
            <span class="text-xs italic">do: {{ sport_event.eventEnd|date }}</span>
        {% endif %}
    </div>
</a>
