{% extends 'base.html.twig' %}

{% block left_side %}
    <h2 class="text-xl italic font-black">Vitajte na nasich strankach</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In vitae turpis massa sed elementum tempus egestas sed sed. Egestas fringilla phasellus faucibus scelerisque. Mattis aliquam faucibus purus in massa tempor nec. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. At auctor urna nunc id cursus metus aliquam eleifend. Urna id volutpat lacus laoreet. Sed euismod nisi porta lorem. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Quis risus sed vulputate odio ut enim. Facilisis gravida neque convallis a cras. Vitae justo eget magna fermentum iaculis eu non. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Mauris sit amet massa vitae tortor condimentum. Diam maecenas ultricies mi eget mauris pharetra et ultrices. Magna eget est lorem ipsum dolor sit amet. Volutpat blandit aliquam etiam erat velit. Diam quam nulla porttitor massa id neque aliquam vestibulum. Mattis aliquam faucibus purus in massa tempor nec feugiat.</p>

    <p>Eget sit amet tellus cras adipiscing enim. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Adipiscing tristique risus nec feugiat in fermentum. Tristique risus nec feugiat in fermentum. Aliquet porttitor lacus luctus accumsan tortor posuere. Et odio pellentesque diam volutpat commodo sed egestas. Neque vitae tempus quam pellentesque nec. Hac habitasse platea dictumst quisque sagittis purus sit amet. Mauris a diam maecenas sed enim ut sem. At ultrices mi tempus imperdiet nulla malesuada. Etiam tempor orci eu lobortis elementum nibh tellus molestie.</p>

    <p>Felis imperdiet proin fermentum leo vel orci porta non. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Tempor nec feugiat nisl pretium fusce. Suspendisse ultrices gravida dictum fusce ut placerat orci. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Vel orci porta non pulvinar neque laoreet suspendisse interdum. Id nibh tortor id aliquet lectus. Nam libero justo laoreet sit amet cursus sit. Magna sit amet purus gravida quis blandit turpis cursus in. Pretium vulputate sapien nec sagittis. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. Venenatis cras sed felis eget. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis. Tortor vitae purus faucibus ornare. Nec dui nunc mattis enim ut tellus. Consectetur purus ut faucibus pulvinar elementum integer enim neque.</p>

    <p>Vitae congue eu consequat ac felis donec et. Varius quam quisque id diam vel quam elementum pulvinar. Vulputate mi sit amet mauris commodo quis. Ipsum dolor sit amet consectetur adipiscing elit. Sed arcu non odio euismod lacinia at quis risus. Sit amet consectetur adipiscing elit pellentesque. Ornare arcu dui vivamus arcu felis bibendum ut. Dui ut ornare lectus sit amet. Diam sollicitudin tempor id eu. Ullamcorper sit amet risus nullam eget felis eget nunc. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales.</p>
{% endblock %}

{% block right_side %}
    <h3 class="text-lg italic font-black">Najblizsie udalosti</h3>
        <p class="italic font-thin">21.8.2021 Elite Bull Day 2021 II.</p>
    <h3 class="text-lg italic font-black">Top vysledky</h3>
        <p class="italic font-thin">Boris F. Lara - weight pulling</p>
{% endblock %}
