<template>
  <div class="flex flex-row flex-wrap items-end mb-4">
      <base-input
          class="mr-2"
          v-model="newDog.name"
          label="Meno psa"
          type="text"
      />
      <base-input
          class="mr-2"
          v-model="newDog.birthdate"
          label="Narodený dňa"
          type="date"
      />
      <base-input
          class="mr-2"
          v-model="newDog.weight"
          label="Váha psa v kg"
          type="number"
      />
      <breed-select
          class="mr-2"
          v-model="newDog.breed"
          label="Vyber plemeno"
      />

      <base-button
          label="Pridaj psa"
          @clickButton="addNewDog"
      />
  </div>
  <dogs-list-component :editable=true></dogs-list-component>
</template>

<script>
import {defineComponent} from "vue";
import axios from 'axios';
import dogsListComponent from "../components/dogsListComponent"
import baseInput from "../../Mixins/Form/baseInput";
import breedSelect from "../../Mixins/Form/breedSelect";
import baseButton from "../../Mixins/Form/baseButton";

export default defineComponent({
  components: {dogsListComponent, baseInput,  breedSelect, baseButton},
  name: "myDogs",
  data() {
    return {
      newDog: {
        name: '',
        birthdate: null,
        weight: 0.00,
        breed: {},
      },
      error: undefined,
    }
  },
  methods: {
    async addNewDog() {
      if (this.newDog.name !== '' && this.newDog.birthdate !== '' && this.newDog.weight > 0 && this.newDog.breed !== '') {
        let dog = this.newDog;
        dog.weight = parseFloat(dog.weight);
        dog.owner = this.$store.state.iriUser;
        await axios.post(
            '/api/dogs',
              dog,
            {
              headers: {
                "Content-Type": "application/ld+json",
                'X-AUTH-TOKEN': this.$store.getters.apiToken,
              }
        });

        // Get updated list of dogs
        this.$store.dispatch('GET_MY_DOGS');

      } else {
        this.error = 'Chybaju potrebne udaje na pridanie psa!';
      }
    }
  },
})
</script>
