<template>
  <h3 class="font-bold mb-2">Kde som prihlásený</h3>
  <hr class="mb-4"/>

  <h3 class="font-bold mb-2">Nadchádzajúce udalosti</h3>
  <available-events-component
      :available-events="availableEvents"
  />

</template>

<script>
import { defineComponent } from "vue";
import AvailableEventsComponent from "../components/availableEventsComponent";

export default defineComponent({
  name: "myEvents",
  components: {AvailableEventsComponent},
  created() {
    if (Object.keys(this.$store.state.availableEvents).length === 0) {
      this.$store.dispatch('GET_AVAILABLE_EVENTS');
    }
  },
  computed: {
    availableEvents() {
      return this.$store.state.availableEvents;
    }
  }

})
</script>
