<template>
  <div class="border-b flex flex-row justify-between w-full">
    <h2 >Treningy</h2>
    <div>
      <base-button
          v-if="!startEditWorkout"
          label="Novy trening"
          class="justify-self-end"
          @ClickButton="startEditWorkout = true"
      ></base-button>
    </div>
  </div>
  <div>
    <workouts-list-component
        v-if="!startEditWorkout"
        @editWorkout="editWorkout"
    />
    <edit-workout
        v-if="startEditWorkout"
        :workout="this.editedWorkout"
        @closeEditWorkout="closeEditWorkoutWindow"
    />
  </div>
</template>

<script>
import {computed, defineComponent, onMounted, ref} from "vue";
import { useStore } from "vuex";
import baseButton from "../../Mixins/Form/baseButton";
import workoutsListComponent from "../components/workout/workoutsListComponent";
import editWorkout from "../components/workout/editWorkout";
import * as events from "events";

export default defineComponent({
  name: "myWorkouts",
  components: {baseButton, workoutsListComponent, editWorkout},
  setup() {
    const store = useStore();
    const startEditWorkout = ref(false)
    const myWorkouts = computed(() =>{
      return store.state.myWorkouts
    })
    const editedWorkout = ref({});

    onMounted(() => {
      if (Object.keys(store.state.myWorkouts).length === 0) {
        store.dispatch('GET_MY_WORKOUTS');
      }
    })

    return {
      myWorkouts,
      startEditWorkout,
      editedWorkout,
    }
  },
  methods: {
    events() {
      return events
    },
    editWorkout(workout) {
      this.editedWorkout = workout;
      this.startEditWorkout = true;
    },
    closeEditWorkoutWindow() {
     this.startEditWorkout = false;
     this.editedWorkout = {};
    }
  }
})
</script>
