<template>
  <div>
    <div class="flex flex-wrap content-end gap-1">
      <base-input
          label="Email"
          :model-value="user.email"
      ></base-input>
      <base-input
          label="Meno (alebo nazov chovnej stanice)"
          :model-value="user.name"
      ></base-input>
      <base-input
          label="Priezvisko"
          :model-value="user.surname"
      ></base-input>
      <base-button
          label="Zmenit heslo"
          v-on:ClickButton="changePassword = !changePassword"
      ></base-button>
    </div>
    <Transition>
      <div v-if="changePassword" class="w-full mt-8">
        <div class="flex flex-col">
          <h2>Zmena hesla</h2>
          <base-input
              label="Stare heslo"
              v-model="password.oldPassword"
              type="text"
          >
          </base-input>
          <base-input
              label="Nove heslo"
              v-model="password.newPassword"
              type="text"
          >
          </base-input>
          <base-input
              label="Nove heslo znova"
              v-model="password.newPasswordAgain"
              type="text"
              class=""
          >
          </base-input>
        </div>
      </div>
    </Transition>
  </div>
</template>

<script>
import {ref, reactive, onMounted, computed} from 'vue'
import {useStore} from 'vuex'
import BaseInput from "../../Mixins/Form/baseInput"
import BaseButton from '../../Mixins/Form/baseButton'

export default {
  components: {BaseInput, BaseButton},

  setup() {
    const store = useStore()
    let editedUser = reactive({
      email: '',
      name: '',
      surname: '',
    })

    const user = computed(() => {
      return store.state.user
    })

    const password = reactive({
      oldPassword: '',
      newPassword: '',
      newPasswordAgain: '',
    })

    const changePassword = ref(false)

    onMounted(() => {
      if (Object.keys(store.state.user).length === 0) {
        store.dispatch('GET_USER')
      }

      editedUser.name = store.state.user.name
    })

    return {
      changePassword,
      editedUser,
      password,
      user,
    }
  },
  name: "profileView",
}
</script>

<style>
.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
