<template>
  <table class="table" v-if="availableEvents.length > 0">
    <thead>
      <tr class="bg-gray-600">
        <th class="text-sm text-white font-medium italic px-4 border-r">Názov</th>
        <th class="text-sm text-white font-medium italic px-4 border-r">Kedy</th>
        <th class="text-sm text-white font-medium italic px-4 border-r">Kde</th>
        <th class="text-sm text-white font-medium italic px-4 border-r">Pocet disciplín</th>
        <th class="text-sm text-white font-medium italic px-4 border-r">Usporiadateľ</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(event, index) in availableEvents" :key="index" class="hover:bg-gray-300">
        <td class="text-xs px-2 border-r">{{ event.title }}</td>
        <td class="text-xs px-2 border-r text-center">{{ event.eventStart }}</td>
        <td class="text-xs px-2 border-r text-center">{{ event.place }}</td>
        <td class="text-xs px-2 border-r text-center">{{ 0 }}</td>
        <td class="text-xs px-2 border-r text-center">{{ event.owner.name }}</td>
      </tr>
    </tbody>
  </table>
  <span class="" v-else>Nie sú naplánované žiadne športové udalosti</span>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "availableEventsComponent",
  props: {
    availableEvents: {
      type: Array,
      default: []
    }
  },
})
</script>
