<template>
  <table class="table">
    <tr class="bg-gray-600">
      <th class="text-sm text-white font-medium italic px-4 border-r">Meno</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Vek</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Vaha</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Plemeno</th>
      <th class="text-sm text-white font-medium italic px-4">Pridany</th>
    </tr>
    <template v-if="Object.keys(myDogs).length > 0">
      <tr v-for="(dog, index) in myDogs" :key="index" v-bind:class="hoverable" @click="openModal(dog)">
        <td class="text-xs px-2 border-r">{{ dog.name }}</td>
        <td class="text-xs px-2 border-r text-center" v-html="getHumanDif(dog.birthdate)"></td>
        <td class="text-xs px-2 border-r text-center">{{ dog.weight }} kg</td>
        <td class="text-xs px-2 border-r text-center">{{ getBreedName(dog.breed) }}</td>
        <td class="text-xs px-2 text-center">{{ dog.createdAt }}</td>
      </tr>
    </template>
  </table>
  <edit-dog-modal v-if="modalWindow" :dog="editDog" @close="modalWindow = false"></edit-dog-modal>
</template>

<script>
import {defineComponent} from "vue";
import moment from "moment"
import EditDogModal from "./editDogModal";
import baseButton from "../../Mixins/Form/baseButton";

export default defineComponent({
  name: "dogsList",
  components: {EditDogModal, baseButton},
  props: {
    editable: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      modalWindow: false,
      editDog: {},
    }
  },
  created() {
    if (Object.keys(this.$store.state.myDogs).length === 0) {
      this.$store.dispatch('GET_MY_DOGS');
    }
  },
  computed: {
    myDogs() {
      return this.$store.state.myDogs;
    },
    hoverable(){
      if ( this.editable ) {
        return "hover:bg-gray-400"
      }
    },
    breeds() {
      return this.$store.state.breeds
    }
  },
  methods: {
    getBreedName(iri) {
      let breedName;
      if (Object.keys(this.breeds).length > 0) {
        this.breeds.forEach(breed => {
          if (breed['@id'] === iri) {
            breedName = breed.breed
          }
        });
        return breedName;
      }
    },
    getHumanDif(date) {
      let diffDuration = moment.duration(moment().diff(date));

      let yearsName = '';
      let monthName = '';
      let daysName = '';

      switch (diffDuration.years()) {
        case 0:
          yearsName = ' rokov';
          break;
        case 1:
          yearsName = " rok";
          break;
        default:
          yearsName = " roky";
      }

      switch (diffDuration.months()) {
        case 0:
          monthName = " mesiacov";
          break;
        case 1:
          monthName = " mesiac";
          break;
        default:
          monthName = " mesiace";
      }

      switch (diffDuration.days()) {
        case 1:
          daysName = " den";
          break;
        default:
          daysName = " dni";
      }

      return diffDuration.years() + yearsName +" " + diffDuration.months() + monthName + " a " + diffDuration.days() + daysName;
    },
    openModal(dog) {
      if (this.editable) {
        this.modalWindow = !this.modalWindow;
        this.editDog = dog;
      }
    },
  },
})
</script>
