<template>
  <div class="absolute top-1/4 left-0 right-0 lg:w-max w-full mx-auto p-2">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <h2 class="text-lg px-2 pb-4">Oprava udajov psa</h2>
      <div class="flex flex-col gap-2">
        <div class="flex flex-row">
          <div class="flex flex-col mr-2">
            <picture-component
                :image-iri="editedDog.image"
                :parent-iri="dog['@id']"
                image-height="190px"
                image-width="330px"
                kind="dogs"
                v-on:imageChange="imageChange"
            >
            </picture-component>
          </div>
          <div class="flex flex-col">
            <base-input
                label="Meno"
                v-model="editedDog.name"
            />
            <base-input
                label="Datum narodenia"
                v-model="editedDog.birthdate"
                type="date"
            />
            <base-input
                label="Váha v kg"
                v-model="editedDog.weight"
                type="number"
            />
            <breed-select
                label="Plemeno"
                v-model="editedDog.breed"
            />
          </div>
        </div>
        <div class="flex flex-row gap-x-1 justify-end border-t">
          <base-button
              class="mt-1"
              label="Zavri okno"
              v-on:ClickButton="$emit('close')"
          >
            <close-icon-component/>
          </base-button>
          <base-button
              class="mt-1"
              label="Ulož údaje"
              v-on:ClickButton="updateDog"
          >
            <save-icon-component/>
          </base-button>
          <base-button
              class="mt-1"
              label="Vymazat"
              v-on:ClickButton="deleteDog"
          >
            <delete-icon-component/>
          </base-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import BaseInput from "../../Mixins/Form/baseInput";
import BreedSelect from "../../Mixins/Form/breedSelect";
import BaseButton from "../../Mixins/Form/baseButton";
import CloseIconComponent from "../../Mixins/GlobalComponent/Icons/closeIconComponent";
import SaveIconComponent from "../../Mixins/GlobalComponent/Icons/saveIconComponent";
import DeleteIconComponent from "../../Mixins/GlobalComponent/Icons/deleteIconComponent";
import pictureComponent from "../../Mixins/GlobalComponent/PictureComponent/pictureComponent";


export default {
  name: "editDogModal",
  components: {
    pictureComponent,
    DeleteIconComponent, SaveIconComponent, CloseIconComponent, BaseButton, BreedSelect, BaseInput
  },
  props: {
    dog: {},
  },
  data() {
    return {
      editedDog: {
        id: null,
        name: null,
        birthdate: null,
        weight: null,
        breed: null,
        image: null,
      }
    }

  },

  mounted() {
    this.editedDog.id = this.dog.id;
    this.editedDog.name = this.dog.name;
    this.editedDog.birthdate = this.dog.birthdate;
    this.editedDog.weight = this.dog.weight;
    this.editedDog.breed = this.dog.breed;
    this.editedDog.image = this.dog.image;
  },

  methods: {
    imageChange() {
      this.$store.dispatch('GET_MY_DOGS');
    },
    async deleteDog() {
      await axios.delete(this.dog['@id'], {
        headers: {
          'Content-type': 'application/ld+json',
          'X-AUTH-TOKEN': this.$store.state.apiToken,
        }
      }).then(() => {
        this.$store.dispatch('GET_MY_DOGS');
      }).then(
          this.$emit('close')
      );
    },

    async updateDog() {
      const newDogData = this.consolidateObject();
      if (Object.keys(newDogData).length > 0) {
        await axios.put(this.dog['@id'], newDogData, {
          headers: {
            'Content-type': 'application/ld+json',
            'X-AUTH-TOKEN': this.$store.state.apiToken,
          }
        }).then(() => {
          this.$store.dispatch('GET_MY_DOGS');
        })
      }
      this.$emit('close')
    },
    consolidateObject() {
      let putDog = {};

      if (this.editedDog.name !== this.dog.name) {
        putDog.name = this.editedDog.name;
      }

      if (this.editedDog.birthdate !== this.dog.birthdate) {
        putDog.birthdate = this.editedDog.birthdate;
      }

      if (parseFloat(this.editedDog.weight) !== parseFloat(this.dog.weight)) {
        putDog.weight = parseFloat(this.editedDog.weight);
      }

      if (this.editedDog.breed !== this.dog.breed) {
        putDog.breed = this.editedDog.breed;
      }

      if (this.editedDog.image !== this.dog.image) {
        putDog.image = this.editedDog.image;
      }

      return putDog;
    }
  }
}
</script>
