<template>
  <div class="flex flex-col">
    <Transition name="account">
    <router-link-component
        link="/profile/"
        :svg-path="account"
        label="Moj profil"
    />
    </Transition>
    <router-link-component
        link="/profile/moji-psy/"
        :svg-path="dogs"
        label="Moji psy"
    />
    <router-link-component
        link="/profile/moje-akcie/"
        :svg-path="actions"
        label="Moje akcie"
    />
    <router-link-component
        link="/profile/trening/"
        :svg-path="workout"
        label="Trening"
    />
  </div>
</template>

<script>
import {defineComponent} from "vue";
import { mdiAccountOutline, mdiDog, mdiStarOutline, mdiAccountCheckOutline, mdiDumbbell } from '@mdi/js'
import RouterLinkComponent from "../../Mixins/GlobalComponent/routerLinkComponent";

export default defineComponent({
  components: {RouterLinkComponent},
  data() {
    return {
      account: mdiAccountOutline,
      editAccount: mdiAccountCheckOutline,
      dogs: mdiDog,
      actions: mdiStarOutline,
      workout: mdiDumbbell,
    }
  },
})
</script>

<style>
.account-enter-active,
.account-leave-active {
  transition: all 0.5s ease;
}

.account-enter-from,
.account-leave-to {
  opacity: 0;
}
</style>
