<template>
  <span v-if="owner !== null">{{owner}}</span>
</template>

<script>
import {defineComponent} from "vue";
import axios from "axios";

export default defineComponent({
  name: "ownerComponent",
  props: {
    ownerId: {
      type: String,
      deafult: '',
    }
  },
  created() {
    axios.get(this.ownerId, {
      headers: {
        'X-AUTH-TOKEN': this.$store.getters.apiToken,
      }
    }).then(response => {
      this.owner = response.data.name;
    })
  },
  data() {
    return {
      owner: null,
    }
  }

})
</script>
