<template>
  <div class="absolute top-1/4 left-0 lg:right-0 lg:w-max w-full mx-auto p-2">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <h2 class="text-lg px-2 pb-4">Oprava zaznamu pre {{editedRecord.dog.name}}</h2>
      <div class="flex flex-col lg:grid lg:grid-rows-4 lg:grid-cols-2 gap-2 lg:items-end">
        <base-input
            label="30 sekund"
            type="number"
            v-model=editedRecord.result1
        />
        <base-input
            label="60 sekund"
            type="number"
            v-model=editedRecord.result2
        />
        <base-input
            label="90 sekund"
            type="number"
            v-model=editedRecord.result3
        />
        <base-input
            label="120 sekund"
            type="number"
            v-model=editedRecord.result4
        />
        <base-input
            label="Priem. rychlost"
            type="number"
            v-model=editedRecord.avgSpeed
        />
        <base-input
            label="Max. rychlost"
            type="number"
            v-model=editedRecord.maxSpeed
        />
        <div class="flex justify-end col-span-2 gap-2">
          <base-button
              label="Zavriet"
              v-on:ClickButton="$emit('close')"
          />
          <base-button
              label="Uloz zaznam"
              @clickButton="saveRecord"
          />
        </div>
    </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import BaseButton from "../../Form/baseButton.vue";
import BaseInput from "../../Form/baseInput.vue";
import DogSelect from "../../Form/dogSelect.vue";
import axios from "axios";

export default defineComponent({
  name: "editTreadmillModal",
  components: {DogSelect, BaseInput, BaseButton},
  props: {
    record: {
      type: Object,
    }
  },
  data() {
    return {
      editedRecord:  {}
    }
  },
  created() {
    this.editedRecord = {...this.record}
  },
  methods: {
    async saveRecord() {
      let data = {}

      if (this.editedRecord.result1 !== this.record.result1 ) {
        data.result1 = parseFloat(this.editedRecord.result1);
      }

      if (this.editedRecord.result2 !== this.record.result2) {
        data.result2 = parseFloat(this.editedRecord.result2);
      }

      if (this.editedRecord.result3 !== this.record.result3) {
        data.result3 = parseFloat(this.editedRecord.result3);
      }

      if (this.editedRecord.result4 !== this.record.result4) {
        data.result4 = parseFloat(this.editedRecord.result4);
      }

      if (this.editedRecord.maxSpeed !== this.record.maxSpeed) {
        data.maxSpeed = parseFloat(this.editedRecord.maxSpeed);
      }

      if (this.editedRecord.avgSpeed !== this.record.avgSpeed) {
        data.avgSpeed = parseFloat(this.editedRecord.avgSpeed);
      }

      if (Object.keys(data).length > 0) {
        await axios.put(this.editedRecord['@id'], data).then(() => {
          this.$store.dispatch('GET_TREADMILLS_BY_EVENT', this.editedRecord.event)
          this.$emit('close')
        })
      }
    }
  }
})
</script>


