<template>
  <div class="flex flex-col mt-4">
    <div class="font-bold italic text-xl bg-gray-600 text-white text-center py-2">Výsledky</div>
    <div class="grid grid-cols-2 items-end font-light italic text-xs bg-gray-600 text-white">
      <div class="grid grid-cols-7 gap-4">
        <div class="px-4">Pes</div>
        <div class="px-4 text-center">30s</div>
        <div class="px-4 text-center">60s</div>
        <div class="px-4 text-center">90s</div>
        <div class="px-4 text-center">120s</div>
        <div class="px-4 text-center">Avg</div>
        <div class="px-4 text-center">Max</div>
      </div>
    </div>
    <div
        class="grid grid-cols-2 bg-white items-end text-xs lg:text-base border-b"
        v-for="(treadmill, key) in listOfTreadmills"
        :key="key"
    >
      <div class="grid grid-cols-7 gap-4">
        <div class="px-4">{{ treadmill.dog.name }}</div>
        <div class="px-4 text-center w-min">{{ treadmill.result1 }}</div>
        <div class="px-4 text-center w-min">{{ treadmill.result2 }}</div>
        <div class="px-4 text-center w-min">{{ treadmill.result3 }}</div>
        <div class="px-4 text-center w-min">{{ treadmill.result4 }}</div>
        <div class="px-4 text-center w-min">{{ treadmill.avgSpeed }}</div>
        <div class="px-4 text-center w-min">{{ treadmill.maxSpeed }}</div>
      </div>
      <div class="flex justify-end shrink">
        <button
            class="text-xs align-middle justify-end flex flex-row px-4 py-0 rounded-r-sm hover:border-gray-400"
            @click="openModal(treadmill)"
        >
          <edit-icon-component/>
        </button>
        <button
            class="text-xs align-middle justify-center flex flex-row px-0 py-0 rounded-r-sm hover:border-gray-400"
            @click="deleteRecord(treadmill['@id'])"

        >
          <delete-icon-component/>
        </button>
      </div>
    </div>
  </div>
  <edit-treadmill-modal v-if="modalWindow" :record="modalRecord" @close="modalWindow = false"/>
</template>

<script>
import {defineComponent} from "vue";
import BaseButton from "../../Form/baseButton.vue";
import EditTreadmillModal from "./editTreadmillModal.vue";
import axios from "axios";
import DeleteIconComponent from "../Icons/deleteIconComponent.vue";
import editIconComponent from "../Icons/editIconComponent.vue";

export default defineComponent({
  name: "listTreadmills",
  components: {editIconComponent, DeleteIconComponent, BaseButton, EditTreadmillModal},
  data() {
    return {
      modalWindow: false,
      modalRecord: {},
    }
  },
  props: {
    eventIri: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.eventIri === undefined ?
        this.$store.commit('SET_TREADMILLS_BY_EVENT', {})
        : this.$store.dispatch('GET_TREADMILLS_BY_EVENT', this.eventIri);
  },
  methods: {
    async deleteRecord(treadmillId) {
      this.modalWindow = false
      await axios.delete(treadmillId)
          .then(() => {
            this.$store.dispatch('GET_TREADMILLS_BY_EVENT', this.eventIri)
          })
    },
    openModal(treadmill) {
      this.modalWindow = !this.modalWindow
      this.modalRecord = treadmill
    },
  },
  computed: {
    listOfTreadmills() {
      return this.$store.state.listOfTreadmillsByEvent
    }
  },
})
</script>
