<template>
  <div class="mt-2">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2">
      <dog-select
          label="Vyber psa"
          :dogs="myDogs"
          v-model=editedTreadmill.dog
      />
      <base-input
          label="30 sekund"
          type="number"
          v-model=editedTreadmill.result1
      />
      <base-input
          label="60 sekund"
          type="number"
          v-model=editedTreadmill.result2
      />
      <base-input
          label="90 sekund"
          type="number"
          v-model=editedTreadmill.result3
      />
      <base-input
          label="120 sekund"
          type="number"
          v-model=editedTreadmill.result4
      />
      <base-input
          label="Priem. rychlost"
          type="number"
          v-model=editedTreadmill.avgSpeed
      />
      <base-input
          label="Max. rychlost"
          type="number"
          v-model=editedTreadmill.maxSpeed
      />
      <div class="flex align-center">
        <base-button
            label="Pridaj zaznam"
            class="text-xs"
            @clickButton="saveTreadmill"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {computed, onMounted, defineComponent, ref} from "vue";
import {useStore} from "vuex";
import BaseButton from "../../Form/baseButton.vue";
import BaseInput from "../../Form/baseInput.vue";
import DogSelect from "../../Form/dogSelect.vue";
import axios, {defaults} from "axios";
import {v4, v4 as uuidv4} from 'uuid';

export default defineComponent({
  name: 'Treadmill',
  components: {DogSelect, BaseInput, BaseButton},
  props: {
    eventIri: {
      type: String,
      require: true,
    },
  },

  setup(props) {
    const store = useStore();

    const editedTreadmill = ref({
      event: props.eventIri,
      dog: '',
      result1: '',
      result2: '',
      result3: '',
      result4: '',
      avgSpeed: '',
      maxSpeed: '',
    });

    onMounted(() => {
      if (Object.keys(store.state.myDogs).length === 0) {
        store.dispatch('GET_MY_DOGS');
      }
    });

    const myDogs = computed(() => {
      return store.state.myDogs
    });

    return {
      myDogs,
      editedTreadmill,
    }
  },
  methods: {
    async saveTreadmill() {

      if (this.editedTreadmill.event !== undefined && this.editedTreadmill.dog !== undefined) {
        if (this.editedTreadmill.id === undefined) {
          this.editedTreadmill.id = uuidv4()
        }

        let data = {
          event: this.editedTreadmill.event,
          dog: this.editedTreadmill.dog,
        }

        if (this.editedTreadmill.result1 > 0) {
          data.result1 = parseFloat(this.editedTreadmill.result1);
        }

        if (this.editedTreadmill.result2 > 0) {
          data.result2 = parseFloat(this.editedTreadmill.result2);
        }

        if (this.editedTreadmill.result3 > 0) {
          data.result3 = parseFloat(this.editedTreadmill.result3);
        }

        if (this.editedTreadmill.result4 > 0) {
          data.result4 = parseFloat(this.editedTreadmill.result4);
        }

        if (this.editedTreadmill.maxSpeed > 0) {
          data.maxSpeed = parseFloat(this.editedTreadmill.maxSpeed);
        }

        if (this.editedTreadmill.avgSpeed > 0) {
          data.avgSpeed = parseFloat(this.editedTreadmill.avgSpeed);
        }

        await axios.post(
            '/api/treadmills',
            data,
            {
              headers: {
                'Content-type': 'application/ld+json',
                'X-AUTH-TOKEN': this.$store.state.apiToken,
              }
            }).then(() => {
          this.$store.dispatch('GET_TREADMILLS_BY_EVENT', this.eventIri)
          this.editedTreadmill.dog = ''
          this.editedTreadmill.result1 = ''
          this.editedTreadmill.result2 = ''
          this.editedTreadmill.result3 = ''
          this.editedTreadmill.result4 = ''
          this.editedTreadmill.avgSpeed = ''
          this.editedTreadmill.maxSpeed = ''
        })
      }
    }
  }

})

</script>
