<template>
    <div class="bg-gray-200 text-black grid grid-cols-12 px-4 h-8">
        <div>
            <button class="bg-gray-200 border-0 text-sm italic pointer">Detail</button>
        </div>
        <div>
            <button class="bg-gray-200 border-0 text-sm italic pointer">SEO</button>
        </div>
        <div>
            <button class="bg-gray-200 border-0 text-sm italic pointer">Taxonomy</button>
        </div>
    </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
    name: 'addArticleMenu',
    props: {
        active: {
            type: String,
        }
    },
    computed: {

    },

})

</script>

