<template>
    <div class="grid grid-cols-2 gap-1">
        <div class="col-span-1">
            <add-article-menu :active="active"/>
            <template v-if="active === 'detail'">
            <detail-article :article="article"></detail-article>
            </template>
        </div>
        <div class="col-span-1">
            Zivy nahlad
        </div>
    </div>
</template>

<script>
import {defineComponent} from 'vue'
import addArticleMenu from "../components/addArticleMenu.vue";
import DetailArticle from "../components/Article/detailArticle.vue";

export default defineComponent({
    name: "addArticle",
    components: {DetailArticle, addArticleMenu},
    data() {
        return {
            active: 'detail',
            article: {
              title: 'Sh shjak '
            },
        }
    }
})
</script>


