<template>
  <div class="row-span-1 bg-gray-600 text-sm text-white font-medium italic p-1">
      <div class="block" style="width: max-content">
          <base-button
                  class="text-black italic text-sm mb-0"
                  label="Pridaj nový článok"
                  v-on:ClickButton="addArticle"
          ></base-button>
      </div>
  </div>
  <div class="grid grid-cols-12 bg-gray-600 text-sm text-white font-medium italic border border-t-white p-1">
      <div class="col-span-4">Názov</div>
      <div class="col-span-2">Autor</div>
  </div>
  <div class="grid grid-cols-12">
      <div class="col-span-4">
          Nejaky clanok o treadmille
      </div>
      <div class="col-span-2">
          Dalsi clanok o Aframe
      </div>
  </div>
</template>
<script>
import {defineComponent} from "vue";
import baseButton from "../../Mixins/Form/baseButton.vue";
import {createRouter as $route} from "vue-router";



export default defineComponent({
    name: 'articles',
    components: {baseButton},
    methods: {
        addArticle() {
          this.$router.push('/cms/clanky/pridat')
        }
    }
})

</script>



