{% extends 'admin.html.twig' %}


{% block title %}Profile|BULL-SPORTS{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('vue-profile') }}
{% endblock %}


{% block content %}
    <div
        id="profile"
        data-csfr-token="{{ csrf_token('profile-vue-app') }}"
        data-api-token="{{ apiToken }}"
        data-iri-user="{{ userIRI }}"
        data-aws="{{ aws|json_encode }}"
    >
    </div>
{% endblock %}
