<a
    href="{{ competition.path }}"
    class=""
>
    <div class="relative p-1">
        {% if competition.image != null %}
            <img
                    src="{{ aws.url.cdn }}{{ competition.image.aWSname }}"
                    alt="{{ competition.image.name }}"
                    title="{{ competition.image.name|lower }}"
            />
        {% endif %}
        <div class="absolute bottom-12 xl:bottom-8 left-4">
            <h3 class="text-white font-bold text-5xl xl:text-2xl italic">{{ competition.name }}</h3>
        </div>
        <span class="text-xs italic">Autor: {{ competition.author.name }}</span>
    </div>
</a>
