{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ck-editor-content') }}
{% endblock %}

{% block meta %}
    {{ parent() }}
    {% for key,item in seo %}
        <meta name="{{ key }}" content="{{ item }}">
    {% endfor %}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ competition.name }}
{% endblock %}

{% block left_side %}
    <h2 class="text-xl italic font-black mb-4 border-b-2">{{competition.name}} - {{ competition.nameSK }}</h2>
    <div class="flex flex-col">
        <img src="{{ aws.url.cdn }}{{ competition.image.aWSname }}" alt="{{ competition.image.name }}" title="{{ competition.image.name|lower }}"/>
        <div class="flex flex-row text-xs italic justify-between">
            <span>Autor: {{ competition.author.name }}</span>
            <span>Vytvorene: {{ competition.createdAt|date("d.m.Y") }}</span>
        </div>
        <div class="mt-2 ck-editor-content">
            {{ competition.description|raw}}
        </div>
    </div>
{% endblock %}

{% block upcomming_events %}
    <h3 class="text-lg italic font-black">Najbližšie udalosti</h3>
    <p class="italic font-thin">21.8.2021 Elite Bull Day 2021 II.</p>
{% endblock %}

{% block best_results %}
    <h3 class="text-lg italic font-black">Najlepšie výsledky</h3>
    <p class="italic font-thin">Boris F. Lara - weight pulling</p>
{% endblock %}
