{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Disciplíny
{% endblock %}

{% block left_side %}
<h2 class="text-xl italic font-black mb-4 border-b-2">Športové disciplíny</h2>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 items-stretch gap-3">
    {% for item in competitions %}
        {{ include('competitions/block_competition.html.twig', {competition: item, aws: aws}, with_context = false) }}
    {% endfor %}
    </div>
{% endblock %}

{% block right_side %}
    <h3 class="text-lg italic font-black">Najblizsie udalosti</h3>
    <p class="italic font-thin">21.8.2021 Elite Bull Day 2021 II.</p>
    <h3 class="text-lg italic font-black">Top vysledky</h3>
    <p class="italic font-thin">Boris F. Lara - weight pulling</p>
{% endblock %}
