<template>
  <base-input
      label="Titulok"
      type="string"
      v-model="article.title"
  />
</template>

<script>
import {defineComponent} from 'vue'
import baseInput from "../FormComponents/baseInput.vue";

export default defineComponent({
  name: 'detailArticle',
  components: { baseInput },
  props: {
    article: {
      type: Object,
    }
  }
})

</script>
