<template>
  <div class="border border-black rounded mb-4">
    <div
        v-if="image !==null && image.hasOwnProperty('AWSname')"
        style="width: 480px; height: 270px"
        v-bind:style="{ backgroundImage: 'url('+globalParams.AWSUrl + image.AWSname+')', backgroundSize: 'contain'}"
    ></div>
    <div v-else class="mx-auto flex flex-col align-middle" style="width: 480px; height: 270px">
      <span class="my-auto text-center text-gray-600 italic text-xs" v-html="ratio"></span>
    </div>
  </div>
  <div class="flex justify-end items-baseline">
    <base-button
        v-if="image !==null && image.hasOwnProperty('AWSname')"
        label="Vymaž obrázok"
        v-on:ClickButton="deleteImage"
        class="mr-1"
    >
      <svg-icon type="mdi" :path="trash" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
    </base-button>
    <base-file
        v-else
        label="Nahraj obrázok"
        v-model="file"
        v-on:fileLoaded="uploadImageToAWS"
    />
    <div class="text-red-600" v-if="error">
      {{ error }}
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import {handleFileUpload, handleFileDelete} from "../AWSImageHandler";
import {v4 as uuidv4} from 'uuid';
import BaseInput from "../Form/baseInput";
import BaseButton from "../Form/baseButton";
import BaseFile from "../Form/baseFile";
import { mdiTrashCanOutline } from '@mdi/js'
import SvgIcon from '@jamescoyle/vue-icon'
import globalParams from "../../Mixins/globalParams";

export default defineComponent({
  name: "addPictureComponent",
  components: {BaseButton, BaseInput, BaseFile ,SvgIcon},
  emits: ['update:image'],
  props: {
    uuid: {
      type: String,
      default: uuidv4(),
    },
    directory: {
      type: String,
      default: '',
    },
    image: {
      type: Object,
      default: null
    },
  },
  data() {
    return {
      globalParams: globalParams,
      trash: mdiTrashCanOutline,
      delImage: false,
      file: undefined,
      error: undefined,
      ratio: "Pomer strán fotky by mal byť 16:9, <br /> alebo napríklad 800x450 px"
    }
  },
  created() {
    console.log(this.image);
    this.editedImage = {...this.image}
  },
  methods: {
    async uploadImageToAWS() {
      this.editedImage.AWSname =  this.directory + this.uuid + '.' + this.file.name;
      this.editedImage.name = this.file.name;
      this.editedImage.mimeType = this.file.type;
      this.editedImage.id = this.uuid;

      await handleFileUpload(this.file, this.editedImage.AWSname)
          .then(() => {
            this.$emit('update:image', this.editedImage)
            this.delImage = true;
          });
    },
    async deleteImage() {
      await handleFileDelete(this.editedImage.AWSname)
      this.editedImage = null;
      this.file = undefined;
      this.$emit('update:image', null)
      this.delImage = false;
    },
  },
})
</script>
