<template>
  <div class="border border-black rounded mb-4">
    <div
        style="width: 480px; height: 270px"
        v-bind:style="{ backgroundImage: 'url('+globalParams.AWSUrl + image.AWSname+')'}"
    >

    </div>
    <div v-else class="w-6/12 h-full mx-auto flex flex-col align-middle">
      <span class="my-auto text-center text-gray-600 italic text-xs" v-html="ratio"></span>
    </div>
  </div>
  <div class="flex justify-end items-baseline">
    <base-button
        v-if="isImageNotEmpty"
        label="Vymaž fotku"
        v-on:ClickButton="deleteImage"
        class="mr-1"
    >
      <svg-icon type="mdi" :path="trash" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
    </base-button>
    <base-file
        v-else
        label="Nahraj fotku"
        v-model="file"
        v-on:fileLoaded="uploadImageToAWS"
    />
    <div class="text-red-600" v-if="error">
      {{ error }}
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import {handleFileUpload, handleFileDelete} from "../AWSImageHandler";
import {v4 as uuidv4} from 'uuid';
import BaseInput from "../Form/baseInput";
import BaseButton from "../Form/baseButton";
import BaseFile from "../Form/baseFile";
import { mdiTrashCanOutline } from '@mdi/js'
import SvgIcon from '@jamescoyle/vue-icon'
import axios from "axios";
import globalParams from "../../Mixins/globalParams";

export default defineComponent({
  name: "editPictureComponent",
  components: {BaseButton, BaseInput, BaseFile ,SvgIcon},
  emits: ['update:image', 'update:image_name'],
  props: {
    uuid: {
      type: String,
      default: uuidv4(),
    },
    directory: {
      type: String,
      default: '',
    },
    image: {
      type: Object,
      default: {
        name: '',
        AWSname: '',
        mimeType: '',
      }
    },
  },
  data() {
    return {
      globalParams: globalParams,
      trash: mdiTrashCanOutline,
      delImage: false,
      imageEdited: {
        name: '',
        AWSname: '',
        mimeType: null,
      },
      file: undefined,
      error: undefined,
      ratio: "Pomer strán fotky by mal byť 16:9, <br /> alebo napríklad 800x450 px"
    }
  },
  created() {
    this.imageEdited = {...this.image};
  },
  computed: {
    isImageNotEmpty() {
      return Object.keys(this.image).length > 0 && this.image.name.length > 0;
    },
  },
  methods: {
    async uploadImageToAWS() {
      this.image.AWSname = this.directory + this.uuid + '.' + this.file.name;
      this.image.name = this.file.name;
      this.image.mimeType = this.file.type;
      this.image.id = this.uuid;

      await handleFileUpload(this.file, this.image.AWSname)
          .then(() => {
            this.$emit('update:image', this.image)
            this.delImage = true;
          });
    },
    async deleteImage() {
      await handleFileDelete(this.image.AWSname)
      this.deleteImageFromDb();
      this.image.AWSname = '';
      this.image.name = '';
      this.image.mimeType = '';
      this.file = undefined;
      this.$emit('update:image', null)
      this.delImage = false;
    },
    deleteImageFromDb() {
      const parent = axios.put('/api/'+this.directory + this.image.id, {
        image: null,
      });
    },
  },
})
</script>
