<template>
  <div class="absolute top-1 left-0 right-0 lg:w-max w-full mx-auto">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <h2 class="text-lg px-2 pb-4">Úprava športovej udalosti</h2>
      <div class="flex flex-row gap-2 mb-4 border-b">
        <div class="">
          <add-picture-component
              directory="events/"
              v-model:image="eventEdited.image"
              :uuid="eventEdited.id"
          />
        </div>
        <div class="flex flex-col gap-2">
          <base-input
              label="Názov sútaže"
              type="text"
              v-model="eventEdited.title"
          />
          <base-input
              label="Začiatok podujatia"
              type="date"
              v-model="eventEdited.eventStart"
          />
          <base-input
              label="Koniec podujatia"
              type="date"
              v-model="eventEdited.eventEnd"
          />
          <base-input
              label="Miesto konania"
              type="text"
              v-model="eventEdited.place"
          />
          <base-check-box
              label="Publikovať? "
              v-model="eventEdited.isPublished"
          />
        </div>
        <div class="flex flex-col border-t border-r border-l p-2" v-if="defaultCompetitions">
          <span class="text-xs italic underline mb-2">Disciplíny</span>
          <div class="flex flex-row items-center mb-2" v-for="competition in eventCompetitions">
            <base-check-box
                :label="competition.typeOfCompetition.name"
                label-right=true
                v-model="eventEdited.eventCompetitions"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col mb-4 border-b ck-editor-content">
        <ckeditor :editor="editor" v-model="eventEdited.description" :config="editorConfig"></ckeditor>
      </div>
      <div class="flex flex-row gap-x-1 justify-end">
        <base-button
            class="flex flex-row items-end"
            label="Zavri okno"
            v-on:ClickButton="$emit('closeModal')"
        >
          <close-icon-component/>
        </base-button>
        <base-button
            class="flex flex-row items-end"
            label="Ulož udalosť"
            v-on:ClickButton="updateEvent"
        >
          <save-icon-component/>
        </base-button>
        <base-button
            class="flex flex-row items-end"
            label="Vymaž udalosť"
            v-on:ClickButton="deleteEvent"
        >
          <delete-icon-component />
        </base-button>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import BaseButton from "../Form/baseButton";
import BaseInput from "../Form/baseInput";
import BaseCheckBox from "../Form/baseCheckBox";
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import CKEditor from '@ckeditor/ckeditor5-vue';
import CKEditorConfig from "../../Mixins/CKEditorConfig";
import axios from "axios";
import ValueCheckBox from "../Form/valueCheckBox";
import SaveIconComponent from "./Icons/saveIconComponent";
import CloseIconComponent from "./Icons/closeIconComponent";
import DeleteIconComponent from "./Icons/deleteIconComponent";
import addPictureComponent from "./addPictureComponent";
import CompareData from "../CompareData";

export default defineComponent({
  name: "editEventModalComponent",
  setup() {
  },
  components: {
    DeleteIconComponent,
    CloseIconComponent,
    SaveIconComponent,
    addPictureComponent,
    ValueCheckBox,
    BaseCheckBox,
    BaseInput,
    BaseButton,
    ckeditor: CKEditor.component,
  },
  props: {
    event: {
      type: Object,
      default: {}
    }
  },
  data() {
    return {
      eventEdited: {},
      editor: ClassicEditor,
      editorConfig: CKEditorConfig,
      selectedCompetitions: [],
      defaultCompetitions: {},
      eventCompetitions: {},
    }
  },
  created() {
    this.eventEdited = {...this.event}
    this.eventCompetitions = {...this.event.eventCompetitions}
  },
  mounted() {
    this.getCompetitions();
  },
  methods: {
    async getCompetitions() {
      await axios.get('/api/competitions', {
        headers: {
          'Content-Type': 'application/ld+json',
          'X-AUTH-TOKEN': this.$store.state.apiToken,
        }
      })
          .then((response) => {
            this.defaultCompetitions.data = response.data['hydra:member'];
            this.defaultCompetitions.totalItems = response.data['hydra:totalItems'];
          })
    },
    async updateEvent() {
      if (this.selectedCompetitions.length > 0) {

        let competitions = [];
        this.selectedCompetitions.forEach((item) => {
          const temp = new Object({
            'typeOfCompetition': item,
            'start': this.eventEdited.eventStart,
            'ends': this.eventEdited.eventEnd,
            'description': '',
          });
          competitions.push(temp);
        });
        this.eventEdited.eventCompetitions = [...competitions];
      }

      let compare = CompareData(this.event, this.eventEdited);
      if ( compare ) {
        await axios
            .put('/api/events/' + this.eventEdited.id, compare, {
              headers: {
                'Content-type': 'application/ld+json',
                'X-AUTH-TOKEN': this.$store.state.apiToken,
              }
            })
            .then(() => {
              this.$store.dispatch('GET_EVENT_LIST');
              this.$emit('closeModal');
            });
      }
    },
    async deleteEvent() {
      await axios
          .delete('/api/events/' + this.eventEdited.id, {
            headers: {
              'Content-type': 'application/ld+json',
              'X-AUTH-TOKEN': this.$store.state.apiToken,
            }
          })
          .then(() => {
            this.$store.dispatch('GET_EVENT_LIST');
            this.$emit('closeModal');
          });
    },
  },

})
</script>
