<template>
  <router-link :to="link" class="flex flex-row items-stretch hover:bg-gray-600 hover:text-blue-50 pr-4 py-2 hover:transition-all ease-in-out duration-500">
    <svg-icon type="mdi" :path="svgPath" class="text-gray-800 hover:text-blue-50 hover:transition-all ease-in-out duration-300"></svg-icon>
    <span class="xl:ml-2 hidden xl:inline">{{label}}</span>
  </router-link>
</template>

<script>
import {defineComponent} from "vue";
import SvgIcon from '@jamescoyle/vue-icon'

export default defineComponent({
  name: "routerLinkComponent",
  components: {SvgIcon},
  props: {
    link: {
      type: String,
      default: "/"
    },
    svgPath: {
      type: String,
      default: undefined
    },
    label: {
      type: String,
      default: 'no label'
    },
  }

});
</script>
