<template>
  <div class="absolute top-1 left-0 right-0 lg:w-max w-full mx-auto p-2">
    <div class="relative bg-gray-100 bg-opacity-100 h-full p-4 border-4 border-gray-800 rounded-md">
      <h2 class="text-lg px-2 pb-4">Pridanie športovej udalosti</h2>
      <div class="flex flex-row gap-2 mb-4 border-b">
        <div class="mb-4">
          <picture-component
            image-iri=""
            :parent-iri="event.id"
            kind="events"
          ></picture-component>
        </div>
        <div class="flex flex-col gap-2">
          <base-input
              label="Názov sútaže"
              type="text"
              v-model="event.title"
          />
          <base-input
              label="Začiatok podujatia"
              type="date"
              v-model="event.eventStart"
          />
          <base-input
              label="Koniec podujatia"
              type="date"
              v-model="event.eventEnd"
          />
          <base-input
              label="Miesto konania"
              type="text"
              v-model="event.place"
          />
          <base-check-box
              label="Publikovať? "
              v-model="event.isPublished"
          />
        </div>
        <div class="flex flex-col border-t border-r border-l p-2" v-if="defaultCompetitions">
          <span class="text-xs italic underline mb-2">Disciplíny</span>
          <div class="flex flex-row items-center mb-2" v-for="competition in defaultCompetitions.data">
            <input
                :id="competition['@id']"
                :value="competition['@id']"
                type="checkbox"
                class="px-0 py-0 rounded-r-sm h-4 w-4"
                v-model="selectedCompetitions"
            >
            <label class="font-light italic text-xs ml-2 mr-2" :for="competition['@id']">{{ competition.name }}</label>
          </div>
        </div>
      </div>
      <div class="flex flex-col mb-4 border-b ck-editor-content">
        <ckeditor :editor="editor" v-model="event.description" :config="editorConfig"></ckeditor>
      </div>
      <div class="flex flex-row gap-x-1 justify-end">
        <base-button
            class="flex flex-row items-end"
            label="Zavri okno"
            v-on:ClickButton="$emit('closeModal')"
        >
          <close-icon-component/>
        </base-button>
        <base-button
            class="flex flex-row items-end"
            label="Uloz"
            v-on:ClickButton="saveEvent"
        >
          <save-icon-component/>
        </base-button>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import BaseButton from "../../Form/baseButton";
import BaseInput from "../../Form/baseInput";
import BaseCheckBox from "../../Form/baseCheckBox";
import AddPictureComponent from "../addPictureComponent";
import {v4 as uuidv4} from 'uuid';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import CKEditor from '@ckeditor/ckeditor5-vue';
import CKEditorConfig from "../../CKEditorConfig";
import axios from "axios";
import ValueCheckBox from "../../Form/valueCheckBox";
import SaveIconComponent from "../Icons/saveIconComponent";
import CloseIconComponent from "../Icons/closeIconComponent";
import PictureComponent from "../PictureComponent/pictureComponent";

export default defineComponent({
  name: "addEventModalComponent",
  components: {
    PictureComponent,
    CloseIconComponent,
    SaveIconComponent,
    ValueCheckBox,
    AddPictureComponent,
    BaseCheckBox,
    BaseInput,
    BaseButton,
    ckeditor: CKEditor.component,
  },
  data() {
    return {
      event: {
        id: uuidv4(),
        owner: this.$store.state.iriUser,
        title: '',
        place: '',
        description: '',
        image: {
          id: undefined,
          name: undefined,
          AWSname: undefined,
          mimeType: undefined,
        },
        isPublished: false,
        eventStart: null,
        eventEnd: null,
        eventCompetitions: [],
      },
      editor: ClassicEditor,
      editorConfig: CKEditorConfig,
      selectedCompetitions: [],
      defaultCompetitions: {},
    }
  },
  mounted() {
    this.getCompetitions();
  },
  methods: {
    async getCompetitions() {
      await axios.get('/api/competitions', {
        headers: {
          'Content-type': 'application/ld+json',
          'X-AUTH-TOKEN': this.$store.state.apiToken,
        }
      })
          .then((response) => {
            this.defaultCompetitions.data = response.data['hydra:member'];
            this.defaultCompetitions.totalItems = response.data['hydra:totalItems'];
          })
    },
    async saveEvent() {

      // Check if competitions were set
      if (this.selectedCompetitions.length > 0) {
        let competitions = [];
        this.selectedCompetitions.forEach((item) => {
          const temp = new Object({
            'typeOfCompetition': item,
            'start': this.event.eventStart,
            'ends': this.event.eventEnd,
            'description': '',
          });
          competitions.push(temp);
        });

        this.event.eventCompetitions = [...competitions];
      }

      // Check id picture were set
      if (this.event.image.id === undefined && this.event.image.name === undefined) {
        this.event.image = null
      }

      await axios
          .post('/api/events', this.event, {
            headers: {
              'Accept': 'application/ld+json',
              'Content-type': 'application/ld+json',
              'X-AUTH-TOKEN': this.$store.state.apiToken,
            }
          })
          .then(() => {
            this.$store.dispatch('GET_EVENT_LIST');
            this.$emit('closeModal');
          })
    },
  },

})
</script>
