<template>
  <table class="w-8/12">
    <thead>
    <tr class="bg-gray-600">
      <th class="text-sm text-white font-medium italic px-4 border-r">Názov</th>
<!--      <th class="text-sm text-white font-medium italic px-4 border-r">Popis</th>-->
      <th class="text-sm text-white font-medium italic px-4 border-r">Počet disciplín</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Kde</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Kedy</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Zverejneny?</th>
    </tr>
    </thead>
    <tr
        v-for="(event, index) in events['hydra:member']"
        :key="index"
        class="hover:bg-gray-400 text-sm"
        @click="openModalEvent(event)"

    >
      <td class="px-2 border-r">{{ event.title }}</td>
<!--      <td class="px-2 border-r">{{ stripHtml(event.description) }}</td>-->
      <td class="px-2 border-r text-center">{{ event.eventCompetitions.length }}</td>
      <td class="px-2 border-r text-center">{{ event.place }}</td>
      <td class="px-2 border-r text-center">{{ createdAt(event.eventStart) }}</td>
      <td class="px-2 border-r text-center">{{ event.isPublished }}</td>
    </tr>
  </table>
  <edit-event-modal-component
    v-if="openModal"
    :event="editEvent"
    v-on:closeModal="openModal = false"
  />
</template>

<script>
import {defineComponent} from "vue";
import moment from "moment";
import editEventModalComponent from "../editEventModalComponent";

export default defineComponent({
  name: "eventListeningComponent",
  components: { editEventModalComponent },
  data() {
    return {
      openModal: false,
      editEvent: {},
    }
  },
  props: {
    events: {
      type: Object,
      default: {}
    },
    editable: {
      type: Boolean,
      default: false,
    }
  },
  methods: {
    createdAt(time) {
      return new moment(time).format('DD.MM.YYYY');
    },
    stripHtml(string) {
      const s = string.replace(/<[^>]*>?/gm, '');
      return s.replace(/(<\/?(?:h1|h2)[^>]*>)|<[^>]+>/ig, '');
    },
    openModalEvent(event) {
      this.editEvent = {...event};
      this.openModal = true;
    },
  }

})
</script>
