@import "./variables.sass"

body
  font-size: 14px
  font-family: $font-family
  margin: 0

.headlines
  display: flex

.main_content
  width: $page-width-full
  margin: 0 auto 0 auto
  padding: $base-padding

  >.breadcrumbs
    display: block
    width: 100%
    line-height: 1rem
    font-size: 0.8rem
    font-style: italic

  >.content
    display: flex

    >.left_side
      flex-shrink: 2
      margin-right: 20px

    >.right_side
      width: 450px
      display: block


.menu
  border-bottom: 0.2rem solid black
  border-top: 0.2rem solid black
  padding: $base-padding
  margin-bottom: $base-margin-bottom
  position: sticky
  top: 0
  z-index: 1
  background-color: white

  >.menu-container
    display: flex
    width: $page-width-full
    margin: 0 auto

    >.brand
      flex-grow: 0

    >.menu-items
      display: flex
      align-items: center
      justify-content: flex-end
      flex-grow: 1
      gap: 2rem
      padding-right: 2rem

      >.item
        padding: $base-padding

        .link
          text-decoration: none
          font-weight: 800
          padding: $base-padding
          font-size: 1.1rem
          color: black

          &:hover
            color: white
            background-color: black

.admin_content
  margin: $base-margin-left-right
  height: 52rem

h1
  font-weight: 800
  font-size: 1.5rem

h2
  font-weight: 600
  font-size: 1.3rem

input
  border-width: 2px
  background-color: buttonface

button
  border-width: 2px
  background-color: buttonface

img.teaser
  width: 285px
  height: 160px
  object-fit: cover
