.ck-editor-content
  h3
    display: block
    font-weight: bolder
    margin-bottom: 0.5rem
  h2
    display: block
    font-weight: bold
    margin-bottom: 0.5rem
  ol
    display: block
    list-style-type: decimal
    list-style-position: inside
  ul
    display: block
    list-style-type: disc
    list-style-position: inside
  p
    text-indent: 1rem
    margin-bottom: 0.5rem