@import "variables.sass"

.profile-container
  display: flex
  margin-bottom: 2rem
  gap: 2rem

.workout-list
  display: grid

.workout-list__header
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  background-color: #3b4151
  color: $color-white

.workout-list__header__item
  padding: 0.5rem 1rem

.workout-list__body
  display: grid
  border: 1px gray solid

.workout-list__items
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr

.workout-list__item
  padding: 0.5rem 1rem
  font-size: 0.8rem
  border-bottom: 1px lightgray solid

.workout-list__item:not(:last-child)
  border-right: 1px lightgray solid

.profile-menu
  display: flex
  justify-content: flex-start
  align-items: baseline
  padding: $base-padding-top-bottom
  margin: $base-margin-bottom
  border-bottom: 0.2rem solid

  .profile-menu-items
    display: flex
    flex-direction: row

    .profile-menu-item
      padding: $base-padding
      color: black
      font-style: italic
      font-weight: 400

      a
        text-underline-offset: 0.3rem
        text-underline-color: $font-color
        color: $font-color

      &:hover
        text-underline-offset: 0.3rem
        text-underline-color: $font-color
        text-decoration-thickness: 0.2rem

.profile-table
  font-family: "Open Sans", sans-serif

  tr
    th
      font-style: italic
      font-weight: 300
      text-align: right

    td
      font-weight: 600
      padding-left: 1rem

.profile-add-dog-form
  box-sizing: border-box
  display: flex
  align-items: flex-end
  flex-direction: row
  flex-wrap: wrap
  padding: 1rem 0 1rem 0
  border-bottom: 1px dotted black
  border-top: 1px dotted black
  margin: 1rem 0 1rem 0

.profile-form-group
  display: flex
  flex-direction: column
  width: 17%
  margin: $base-margin-left-right

.profile-form-group-button
  @extend .profile-form-group
  justify-content: flex-end

  >button
    height: 26px


  @media (max-width: 478px)
    width: 25%

  @media (max-width: 768px)
    width: 100%


  >label
    font-style: italic
    font-weight: 300
    margin-bottom: 0.4rem

.profile-dog-list-container
  display: grid
  width: 80%
  grid-template-columns: 2fr 2fr 2fr 1fr
  grid-template-rows: 16px repeat(auto-fill, 1fr)

  .head
    grid-row-start: 1
    padding: $base-padding
    background-color: #AAAAAA

.profile-dog-list-items
  display: grid
  width: 80%
  grid-template-columns: 2fr 2fr 2fr 1fr

  span
    color: #2a2a2a
    border: 1px solid black
    padding: $base-padding

  span:last-child
    color: #2a2a2a
    padding: $base-padding
    border: none



