<template>
  <div class="flex flex-col w-full">
    <div class="flex flex-row items-end border-b w-full">
      <base-input
          class="mr-2"
          label="Skratka plemena"
          v-model="data.breed"
          type="text"
      />
      <base-input
          class="mr-2"
          v-model="data.description"
          label="Popis plemena"
          type="text"
      />
      <base-button
          label="Pridaj plemeno"
          v-on:ClickButton="addNewBreed"
      />
    </div>
    <div class="mt-4">
      <table class="table">
        <thead>
        <tr class="bg-gray-600">
          <th class="text-sm text-white font-medium italic px-4">Skratka</th>
          <th class="text-sm text-white font-medium italic px-4">Popis</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in breeds" :key="item.id" class="hover:bg-gray-400" @click="breedModal(item)">
          <td class="px-4">{{ item.breed }}</td>
          <td class="px-4">{{ item.description }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
  <edit-breed-modal-component
      v-if="openBreedModal"
      @close="openBreedModal = false; this.$store.dispatch('GET_BREEDS')"
      :breed="editBreed"
  />
</template>

<script>
import BaseInput from "../../Mixins/Form/baseInput";
import BaseButton from "../../Mixins/Form/baseButton";
import editBreedModalComponent from "../components/editBreedModalComponent";
import axios from "axios";

export default {
  name: "breedView",
  components: { BaseButton, BaseInput, editBreedModalComponent },
  data() {
    return {
      data: {
        breed: undefined,
        description: undefined,
      },
      openBreedModal: false,
      editBreed: {},
    }
  },
  computed: {
    breeds() {
      return this.$store.state.breeds;
    }
  },
  methods: {
    async addNewBreed() {
      await axios
          .post('/api/breeds', this.data, {
            headers: {
              'X-AUTH-TOKEN': this.$store.state.apiToken,
            }
          })
          .then(() => {
            this.$store.dispatch('GET_BREEDS');
            this.data.breed = undefined;
            this.data.description = undefined;
          })
    },
    breedModal( breed ) {
      this.editBreed = { ...breed };
      this.openBreedModal = !this.openBreedModal;
    },
  },
}
</script>
