<template>
  <div class="w-full p-2">
    <div class="bg-gray-100 bg-opacity-100 h-full p-4">
      <h2 class="mb-4">Športová disciplína - {{ editedCompetition.name }}</h2>
      <div class="flex flex-col gap-4">
        <div class="flex flex-row">
          <div class="mr-4">
            <picture-component
                kind="competitions"
                :parent-iri="editedCompetition.id"
                :image-iri="editedCompetition.image"
                v-on:imageChange="imageChange"
            ></picture-component>
          </div>
          <div class="flex flex-col flex-grow gap-2">
            <div class="flex flex-row gap-2">
              <base-input
                  v-model="editedCompetition.name"
                  label="Anglický názov súťaže"
                  type="text"
              />
              <base-input
                  v-model="editedCompetition.nameSk"
                  label="Slovensky názov súťaže"
                  type="text"
              />
            </div>
            <seo-input
                label="Seo popis"
                v-model="editedCompetition.seoDescription"
            />
          </div>
        </div>
        <div class="flex">
          <ckeditor
              :editor="editor"
              v-model="editedCompetition.description"
              :config="editorConfig"
          ></ckeditor>
        </div>
        <div class="flex flex-row flex-wrap justify-end mt-2 gap-3">
          <base-button
              label="Naspat"
              v-on:ClickButton="this.$router.push('/admin/discipliny/');"
          >
            <svg-icon type="mdi" :path="closeIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
          </base-button>
          <base-button
              label="Uloz disciplinu"
              v-on:ClickButton="saveCompetition"
          >
            <svg-icon type="mdi" :path="saveIcon" class="text-gray-800 hover:text-blue-50 mr-1"></svg-icon>
          </base-button>
        </div>
        <div class="text-red-600 italic text-sm text-red-600">
          <span>{{ errorMessage }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import SeoInput from "../../Mixins/Form/seoInput";
import pictureComponent from "../../Mixins/GlobalComponent/PictureComponent/pictureComponent";
import baseInput from "../../Mixins/Form/baseInput";
import baseButton from "../../Mixins/Form/baseButton";
import textField from "../../Mixins/Form/textField";
import SvgIcon from "@jamescoyle/vue-icon";
import CKEditor from "@ckeditor/ckeditor5-vue";
import {mdiCloseOutline, mdiContentSaveOutline} from "@mdi/js";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditorConfig from "../../Mixins/CKEditorConfig";

export default defineComponent({
  name: "competitionEditView",
  components: {
    SeoInput,
    pictureComponent,
    baseInput,
    baseButton,
    textField,
    SvgIcon,
    ckeditor: CKEditor.component,
  },
 props: {
    competitionId: {
      type: String,
      default: ''
    },
  },
  data() {
    return {
      editedCompetition: {},
      ss: {},
      saveIcon: mdiContentSaveOutline,
      closeIcon: mdiCloseOutline,
      errorMessage: '   ',
      editor: ClassicEditor,
      editorConfig: CKEditorConfig,
    }
  },
  mounted() {
    this.editedCompetition = {...this.$store.getters.getCompetition(this.competitionId)};

  },
  methods: {
    imageChange() {
      this.$store.dispatch('GET_COMPETITION_LIST');
    },
    saveCompetition() {
      this.$store.dispatch('SAVE_COMPETITION', this.editedCompetition);
      this.$store.dispatch('GET_COMPETITION_LIST');
    },

  },
})
</script>
