<template>
  <div class="flex flex-col w-full h-full">
    <insert-competition-modal-component
        v-if="openModal"
        v-on:closeModal="openModal = false"
    />
    <div class="flex flex-row w-max mb-4">
      <span class="text-lg font-bold italic mr-4">Pridanie discipliny</span>
      <base-button
          label="Pridaj novu disciplinu"
          v-on:ClickButton="openModal = true"
      ></base-button>
    </div>
    <competition-list-component
        :editable=true
    ></competition-list-component>
  </div>
</template>

<script>
import BaseButton from "../../Mixins/Form/baseButton";
import CompetitionListComponent from "../components/competition/competitionListComponent";
import InsertCompetitionModalComponent from "../components/competition/insertCompetitionModalComponent";

export default {
  name: "competitionView",
  components: {InsertCompetitionModalComponent, BaseButton, CompetitionListComponent},
  data() {
    return {
      openModal: false,
    }
  },
  methods: {},

}
</script>
