<template>
  <div class="flex flex-col w-full h-full">
    <add-event-modal-component
        v-if="openModal"
        v-on:closeModal="openModal = false"
    />
    <div class="flex flex-row w-max mb-4">
      <span class="text-lg font-bold italic mr-4">Športové udalosti</span>
      <base-button
          label="Nová udalosť"
          v-on:ClickButton="openModal = true"
      ></base-button>
    </div>
    <event-listing-component
        :events="events"
    />
  </div>
</template>

<script>
import { defineComponent } from "vue";
import baseButton from "../../Mixins/Form/baseButton";
import AddEventModalComponent from "../../Mixins/GlobalComponent/Events/addEventModalComponent";
import moment from "moment";
import EventListingComponent from "../../Mixins/GlobalComponent/Events/eventListingComponent";

export default defineComponent({
  name: "EventsView",
  components: {EventListingComponent, AddEventModalComponent, baseButton },
  data() {
    return {
      openModal: false,
    }
  },
  mounted() {
    this.getEvents();
  },
  computed: {
    events() {
      return this.$store.state.events;
    }
  },
  methods: {
    createdAt(time) {
      return new moment(time).format('YYYY-MM-DD');
    },
    getEvents() {
      if (Object.keys(this.$store.state.events).length === 0) {
        this.$store.dispatch('GET_EVENT_LIST');
      }
    }
  },
})
</script>

