<template>
  <table>
    <thead>
    <tr class="bg-gray-600">
      <th class="text-sm text-white font-medium italic px-4 border-r">Email</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Meno</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Pocet psov</th>
      <th class="text-sm text-white font-medium italic px-4 border-r">Opravenia</th>
      <th class="text-sm text-white font-medium italic px-4">Registrovany</th>
    </tr>
    </thead>
    <tr
        v-for="(user, index) in users"
        :key="index"
        class="hover:bg-gray-400 text-sm"
        @click="openModal(user)"
    >
      <td class="px-2 border-r">{{ user.email }}</td>
      <td class="px-2 border-r">{{ user.name }}</td>
      <td class="px-2 border-r text-center">{{ user.dogs.length }}</td>
      <td class="px-2 border-r text-center">
        <template v-for="(role, i) in user.roles" :key="i">
          {{ sliceRole(role) }}
        </template>
      </td>
      <td class="px-2 border-r text-center">{{ user.createdAt }}</td>
    </tr>
  </table>
  <edit-user-modal-component
      v-if="openUserModal"
      @close="openUserModal = false"
      :user="editUser"
  ></edit-user-modal-component>
</template>

<script>
import EditUserModalComponent from "../components/editUserModalComponent";

export default {
  name: "usersView",
  components: {EditUserModalComponent},
  data() {
    return {
      openUserModal: false,
      editUser: {},
    }
  },
  beforeMount() {
    if (Object.keys(this.$store.state.users).length === 0) {
      this.$store.dispatch('GET_USERS');
    }
  },
  methods: {
    sliceRole(role) {
      return role.slice(5).toLowerCase() + ","
    },
    openModal(user) {
      this.editUser = {...user};
      this.openUserModal = true;
    }
  },
  computed: {
    users() {
      return this.$store.getters.GET_USERS;
    }
  },
}
</script>
