<template>
  <div class="flex flex-col mb-1" v-bind="$attrs">
    <label class="font-light italic text-xs">{{ label }}</label>
    <input
        class="form-input px-4 py-0 rounded-r-sm"
        :placeholder="label"
        :value="modelValue"
        :type="type"
        @input="$emit('update:modelValue', $event.target.value)"
    >
  </div>
</template>

<script>
export default {
  name: "baseInput",
  props: {
    label: {
      type: String,
      default: '',
    },
    type: {
     type: String,
     default: 'text',
    },
    modelValue: {
      type: [String, Number],
      default: '',
    },
  }
}
</script>
