<template>
  <div class="w-full mt-2 text-gray-800">
    <h2 class="font-black border-b-2 border-gray-300 mb-4">Profil <span v-if="title !== undefined">- {{title}}</span></h2>
    <div class="flex flex-row gap-2">
      <div>
        <menu-component />
      </div>
      <div class="grow">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import  menuComponent  from "./components/menuComponent.vue"

export default defineComponent({
  name: "Profile",
  components: { menuComponent },
  computed: {
    title() {
      return this.$route.meta.title;
    }
  },
  beforeMount() {
    this.$store.commit('SET_API_TOKEN', this.$attrs.apiToken);
    this.$store.commit('SET_IRI_USER', this.$attrs.iriUser);
    this.$store.commit('SET_AWS', JSON.parse(this.$attrs.aws));
  }
})
</script>
