{% extends 'admin.html.twig' %}

{% block title %}CMS|BULL-SPORTS{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ck-editor-content') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('vue-cms') }}
{% endblock %}


{% block content %}
    <div
        id="cms"
        data-api-token="{{ apiToken }}"
        data-iri-user="{{ userIRI }}"
        data-aws="{{ aws|json_encode }}"
    ></div>
{% endblock %}
