<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block meta %}
        <title>{% block title %}Bull sports{% endblock %}</title>
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
        {{ encore_entry_link_tags('base') }}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="text-2xl lg:text-base h-full" style="font-size: 16px">
{% if headline is defined %}
    <div class="xl:mx-auto mx-3 my-1">
        {% block headlines %}
        {% endblock %}
    </div>
{% endif %}

<div class="flex mb-2 bg-gray-300 text-black sticky top-0 w-full h-14">
    {% block menu %}
        {{ include('menu.html.twig') }}
    {% endblock %}
</div>

<div class="admin_content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
