<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    <title>{% block title %}Bull sports{% endblock %}</title>
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
        {{ encore_entry_link_tags('base') }}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}

    {% endblock %}
</head>
<body class="text-2xl lg:text-base h-full text-gray-800">
{% if headline is defined %}
    <div class="xl:mx-auto mx-3 my-1">
        {% block headlines %}
        {% endblock %}
    </div>
{% endif %}

<div class="w-full mb-4 bg-gray-300">
    {% block menu %}
        {{ include('menu.html.twig') }}
    {% endblock %}
</div>

<div class="xl:mx-auto xl:w-8/12 w-full my-1 p-2 mt-12">
{% block content %}
        {% block breadcumbs %}
            {% if breadcumnbs is defined %}
                {{ include('breadcrumbs.html.twig') }}
            {% endif %}
        {% endblock %}

        <div class="flex flex-col xl:flex-row flex-stretch flex-auto my-1">
            {% block main_content %}
                <div class="flex flex-col xl:mr-2 mb-4 xl:p-0 xl:p-2 xl:border-r-2 xl:w-9/12">
                    {% block left_side %}
                    {% endblock %}
                </div>

                <div class="block mt-3 xl:p-2 xl:my-0">
                    <div class="fixed">
                    {% block right_side %}
                        <div class="mb-2">
                            {% block upcomming_events %}
                            {% endblock %}
                        </div>
                        <div class="">
                            {% block best_results %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
{% endblock %}
</div>
{% block javascripts_end %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
