<div class="grid grid-cols-2 content-center px-4 py-2 w-full h-16">
    <div class="grid grid-flow-col shrink">
        <div class="shrink hidden md:block">
            <img src="/images/bull_sports_pit.svg" alt="bull_sports_logo" class="h-14">
        </div>
        <div class="grid shrink items-center px-1">
            <h1 class="justify-self-start text-3xl italic font-black text-center">Bull sports</h1>
        </div>
    </div>
    <div class="grid">
    {% if menu_items is defined %}
        <nav class="hidden md:flex flex-row justify-end flex-grow items-center">
            {% block menu %}
                {% for key, path in menu_items %}
                    {% set route = app.request.pathInfo %}
                    <a class="px-2 {% if route == path %}border-b-2 border-gray-600{% endif %}  hover:text-800"
                       href="{{ path }}">{{ key }}</a>
                {% endfor %}
            {% endblock %}
        </nav>
        <nav class="md:hidden grid absolute bg-gray-300 w-full grid-flow-row rounded-md z-10">
            {% block mobile %}
                {% for key, path in menu_items %}
                    {% set route = app.request.pathInfo %}
                    <a class="px-4 py-2"
                       href="{{ path }}">{{ key }}</a>
                {% endfor %}
            {% endblock %}
        </nav>
    {% else %}
{#    <nav class="flex flex-row justify-end flex-grow items-center">#}
{#        <a class="px-2 hover:text-800" href="{{ path('welcome') }}">Domov</a>#}
{#    </nav>#}
    {% endif %}
    </div>
</div>


