<template>
  <div
      class="mx-auto flex flex-col align-middle"
      :style="backgroundStyle"
      :key="imageUrl"
  >
  </div>
</template>

<script>
export default {
  name: "backgroundImageComponent",
  props: {
    imageWidth: {
      type: String,
      default: '480px',
    },
    imageHeight: {
      type: String,
      default: '320px',
    },
    backgroundImageUrl: {
      type: String,
      default: ''
    }
  },
  computed: {
    imageUrl() {
      if (this.backgroundImageUrl && this.backgroundImageUrl.length > 39) {
        return this.backgroundImageUrl;
      } else {
        return 'no image';
      }
    },
    backgroundStyle() {
      return {
        backgroundImage: 'url(' + this.imageUrl + ')',
        backgroundSize: 'cover',
        backgroundPosition: 'center',
        width: this.imageWidth,
        height: this.imageHeight,
      }
    }
  }
}
</script>
