<template>
  <div class="border border-black rounded mb-4">
    <background-image-component
        :image-height="imageHeight"
        :image-width="imageWidth"
        :background-image-url="awsImageUrl"
        :key="backgroundKey"
    ></background-image-component>
  </div>
  <div class="flex justify-end items-baseline">
    <base-button
        v-if="imageIri"
        label="Vymaž obrázok"
        v-on:ClickButton="deleteImage"
        class="mr-1"
    >
      <delete-icon-component/>
    </base-button>
    <base-file
        v-if="!imageIri"
        label="Nahraj obrázok"
        v-model="uploadedFile"
        v-on:fileLoaded="uploadImageToAWS"
    />
    <div class="text-red-600" v-if="error">
      {{ error }}
    </div>
  </div>
</template>

<script>
import {v4 as uuidv4} from 'uuid';
import BaseButton from "../../Form/baseButton";
import BaseInput from "../../Form/baseInput";
import BaseFile from "../../Form/baseFile";
import SvgIcon from "@jamescoyle/vue-icon";
import DeleteIconComponent from "../Icons/deleteIconComponent";
import {handleFileDelete, handleFileUpload} from "../../AWSImageHandler";
import axios from "axios";
import BackgroundImageComponent from "./backgroundImageComponent";

export default {
  name: "pictureComponent",
  components: {BackgroundImageComponent, BaseButton, BaseInput, BaseFile, SvgIcon, DeleteIconComponent},
  props: {
    imageIri: {
      type: String,
    },
    parentIri: {
      type: String,
      default: '',
      required: true,
    },
    imageWidth: {
      type: String,
      default: '480px',
    },
    imageHeight: {
      type: String,
      default: '320px',
    },
    kind: {
      type: String,
      default: '',
      required: true,
    }
  },
  data() {
    return {
      uuid: uuidv4(),
      uploadedFile: undefined,
      error: undefined,
      backgroundKey: 'no-image',
      editedImage: {
        id: '',
        AWSname: '',
        name: '',
        mimeType: '',
      }
    }
  },
  computed: {
    awsParams() {
      return this.$store.state.aws
    },
    awsImageUrl() {
      if (this.editedImage) {
        return this.awsParams.url.cdn + this.editedImage.AWSname
      } else {
        return null;
      }
    }
  },
  watch: {
    imageIri(newImageIri, oldImageIri) {
      if (newImageIri !== oldImageIri) {
        if (this.imageIri) {
          this.getImageFromApi(newImageIri)
        }
      }
    }
  },
  methods: {
    async getImageFromApi(imageIri) {
      await axios.get(imageIri)
        .then(response => {
          this.editedImage.name = response.data.name
          this.editedImage.id = response.data.id
          this.editedImage.AWSname = response.data.AWSname
          this.editedImage.mimeType = response.data.mimeType
          this.backgroundKey = response.data.name

        }).catch(error => {
          this.error = error;
        })
    },
    async uploadImageToAWS() {
      this.editedImage.AWSname = this.kind + '/' + this.uuid + '.' + this.uploadedFile.name;
      this.editedImage.name = this.uploadedFile.name;
      this.editedImage.mimeType = this.uploadedFile.type;
      this.editedImage.id = this.uuid;

      await handleFileUpload(this.uploadedFile, this.editedImage.AWSname, this.awsParams)
          .then(() => {
            this.saveNewImageToDB();
            this.delImage = true;
      }).catch(error =>{
          this.error = error;
          })
      this.backgroundKey = 'new-image-uploaded'

    },

    async deleteImage() {
      this.backgroundKey = 'no-image'
      await handleFileDelete(this.editedImage.AWSname, this.awsParams)
          .then(() => {
            this.deleteImageFromDB();
            this.editedImage =  {
                  id: '',
                  AWSname: '',
                  name: '',
                  mimeType: '',
            };
            this.file = null;
            this.delImage = false;
            this.$emit('imageChange')
        })
    },

    async deleteImageFromDB() {
      await axios.put(this.parentIri, {
        image: null,
      })
    },

    async saveNewImageToDB() {
      await axios.post('/api/images', this.editedImage, {
        headers: {
          'Content-type': 'application/ld+json',
          'X-AUTH-TOKEN': this.$store.state.apiToken,
        }
      }).then(response => {
        this.backgroundKey = this.editedImage.AWSname;
        axios.put(this.parentIri, {
              image: response.data['@id'],
              owner: this.$store.state.iriUser
            },
            {
              headers: {
                'Content-type': 'application/ld+json',
                'X-AUTH-TOKEN': this.$store.state.apiToken,
              }
            })
      })
    }
  },
}
</script>
